{% include "include/header.html"%}
<!-- Banner -->
<div class="banner-inner"></div>
<!-- End Banner -->
<!-- EventNotice -->
<div class="container mt-3">
  <div class="blogPrev">
    <table class="table table-borderless table-sm table-hover">
      <tbody class="table1">
        <tr>
          <th class="title">공지</th>
          <td class="tbcontent">
            <a href="/art/detail1">{{data[0].title}}</a>
          </td>
          <td class="tbdate">{{data[0].date}}</td>
        </tr>
        <tr>
          <th class="title">공지</th>
          <td class="tbcontent">
            <a href="/art/detail2">{{data[1].title}}</a>
          </td>
          <td class="tbdate">{{data[1].date}}</td>
        </tr>
        <tr>
          <th class="title">공지</th>
          <td class="tbcontent">
            <a href="/art/detail3">{{data[2].title}}</a>
          </td>
          <td class="tbdate">{{data[2].date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- End EventNotice -->
<!-- EventContent -->
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8">
      <ul class="newslist_detail">
        <li class="item_news">
          <div class="area_text">
            <span class="news-link"><a href="/art">문화소식</a></span>
            <strong class="title_news">{{data[15].title}}</strong>
            <span class="daFe">{{data[15].date}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<section class="pf-details section">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="inner-content">
          <div class="body-text">
            <img src="/img/mou1.png" alt="#" />
            <p>
              계양산성, 고을의 사랑방이 되다! 지역 주민이 함께 즐기는 문화유산
              여름축제
            </p>
            <br />
            <p>
              소서팔사 체험(전통 및 예술공예), 주부토 플리마켓, 인천 이야기
              토크콘서트 등
            </p>
            <p>
              여러 가지 체험과 즐길거리가 있는
              <span style="color: orangered">계양산성 여름 축제</span>를
              개최합니다.
            </p>
            <p>
              우리 고장 문화유산에 대해 배우고 즐길 수 있는
              <span style="color: deepskyblue">소서팔사 프로그램</span>에 많은
              신청 부탁드립니다.
            </p>
            <p>
              여름의 시작인 6월, 우리의 소중한 문화유산 계양산성에서 소중한 여름
              추억을 만들어 가세요~!!
            </p>

            <img src="/img/mou2.jpg" alt="#" />
            <img src="/img/mou3.jpg" alt="#" />
            <img src="/img/mou4.jpg" alt="#" />
            <img src="/img/mou5.jpg" alt="#" />

            <p>✅ 행사 안내</p>
            <p>○ 일 시 : 6월 3일(토) 14:00~19:00 (체험 프로그램은 18:00까지)</p>
            <p>○ 장 소 : 계양산성 일원 및 야외공연장(계양산로 105번길)</p>
            <p>○ 대 상 : 지역 주민 등 누구나</p>
            <p>○ 주요 프로그램</p>
            <p>- 소서팔사 체험 ＜전통·예술공예＞</p>
            <p>- 주부토 플리마켓 ＜같이의 가치＞</p>
            <p>- 인천 이야기 토크콘서트 ＜인천에 살고 있나요? : 계양구＞</p>
            <p>- [이벤트] 계양산성 알리기 프로젝트</p>
            <p>○ 참가비 : 무료</p>
            <p>
              ○ 선발기준 계양구민 (타구민 후순위) > 올해 생생문화재 사업
              미참여자 (기참여자 후순위)
            </p>
            <hr />
            <p>
              <span style="color: gold"
                >✅ 주부토 플리마켓 <같이의 가치> / 14:00~19:00</span
              >
            </p>
            <p>
              계양의 옛 지명을 딴 ‘주부토 플리마켓’은 지역의 소상공인과 주민들
              간 소통의 장을 형성하고,
            </p>
            <p>함께 긍정적인 가치를 찾아나가는 플리마켓</p>
            <p>
              참여셀러 : 너구리공방 / 달달떡볶이 / 로드리 / 베이커리 향인 /
              사과나무 / 영심당 / 원마카롱온리 / 자수란다 / 책방산책 / 화서담
            </p>
            <br />
            <p>
              <span style="color: gold"
                >✅ 인천 이야기 토크콘서트 <인천에 살고 있나요? : 계양구> /
                16:00~16:40</span
              >
            </p>
            <p>
              인천에서 성장하여 활동하는, 인천에 대한 애정이 가득한 예술가에게
              듣는 내 고장에 대한 이야기! 잘 알고 있다고 생각하지만,
            </p>
            <p>
              사실 잘 모르고 있던 내 고장 인천과 계양구에 대한 매력을 발견해
              나가는 시간
            </p>
            <p>진행 : 이희환, 슬로보트 작가</p>
            <hr />
            <p>✅ 신청방법​</p>
            <p>○ 신청방법 : 네이버 폼 접수(https://naver.me/FYaiOfXf)</p>
            <p>○ 신청기간 : 2023.5.22(월) ~ 5.31(수)</p>
            <p>○ 선정결과 : 접수 마감 후 개별 통보</p>
            <p>
              ※
              <span style="color: orangered"
                >체험 거리와 배움 거리 프로그램은 중복 신청이 가능</span
              >하나,
              <span style="color: orangered"
                >배움 거리 프로그램 내에서는 중복이 불가</span
              >
              합니다.
            </p>
            <p>
              ※ 배움 거리 프로그램은
              <span style="color: orangered"
                >10세 이상(초등학생 3학년)부터</span
              >
              신청 가능합니다.
            </p>
            <p>○ 문의처 : 계양문화원 (032-450-5754)</p>

            <img src="/img/mou6.png" alt="#" />
            <img src="/img/mou7.png" alt="#" />
            <img src="/img/mou8.png" alt="#" />

            <p>
              <span style="color: gold"
                >✅ 소서팔사 프로그램 안내(체험 신청)
              </span>
            </p>

            <p><mark>체험 거리(전통체험) / 14:00~16:00</mark></p>
            <p>
              <span style="color: dodgerblue"
                >○ 효심 깊은 윤선비, 더위를 이겨내다 (탁족 체험)</span
              >
            </p>
            <p>
              내용 : 선비들의 전통적인 피서법이자 정신수양의 방법인 탁족을
              체험하며 더위를 잊고, 계양산의 푸른 자연을 만끽하는 프로그램
            </p>
            <p>시간 : 약 20분</p>
            <br />
            <p>
              <span style="color: dodgerblue"
                >○ 꼬마 장군, 여름을 물리치다 (전통놀이)</span
              >
            </p>
            <p>
              내용 : 투호 및 활쏘기 등 전통놀이를 통해 산성의 역할을 간접
              체험하고, 여름 더위를 물리치는 프로그램
            </p>
            <p>시간 : 약 20분</p>
            <br />
            <p>
              <span style="color: dodgerblue"
                >○ 계양산, 고운 빛을 즐기다 (오수 체험)</span
              >
            </p>
            <p>
              내용 : 계양산성 아래 오수(낮잠)를 청하며 일상의 피로감을 덜어내고,
              정조대왕도 칭찬한 계양산의 아름다움을 느껴보는 프로그램
            </p>
            <p>시간 : 약 20분</p>
            <hr />
            <p><mark>배움 거리(예술공예) / 14:00~18:00</mark></p>
            <p>
              <span style="color: dodgerblue">○ 업사이클링 주부토 키링 만들기</span>
            </p>
            <p>
              내용 : 플라스틱 병뚜껑과 문화유산의 콜라보! 계양산성 출토유물인
              주부토 기와 모양 키링을 만들어보는 프로그램
            </p>
            <p>시간 : 약 50분 / 10명씩 총 4회차 운영</p>
            <p>
              <span style="color: dodgerblue"
                >○ 계양산성이 지켜낸 서해바다 비누 만들기</span
              >
            </p>
            <p>
              내용 : 경기만 방어체계의 중심성인 계양산성! 계양산성이 지켜낸
              서해바다의 모습을 본 딴 천연 비누만들기 프로그램
            </p>
            <p>시간 : 약 50분 / 10명씩 총 4회차 운영</p>
            <p><span style="color: dodgerblue">○ 라탄 코스터 만들기</span></p>
            <p>
              내용 : 여러 생활유적이 출토된 계양산성! 대표 생활 유적인 찻잔
              받침을 현대적으로 재해석한 라탄 코스터 만들기 프로그램
            </p>
            <p>시간 : 약 50분 / 10명씩 총 4회차 운영</p>
            <img src="/img/mou9.png" alt="#" />


            <div class="share">
              <h4>Share Now -</h4>
              <ul>
                <li>
                  <a href="#"
                    ><i class="fa fa-facebook-official" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "include/footer.html"%}
