{% include "include/header.html"%}
<!-- Banner -->
<div class="banner-inner"></div>
<!-- End Banner -->
<!-- EventNotice -->
<div class="container mt-3">
  <div class="blogPrev">
    <table class="table table-borderless table-sm table-hover">
      <tbody class="table1">
        <tr>
          <th class="title">공지</th>
          <td class="tbcontent">
            <a href="/art/detail1">{{data[0].title}}</a>
          </td>
          <td class="tbdate">{{data[0].date}}</td>
        </tr>
        <tr>
          <th class="title">공지</th>
          <td class="tbcontent">
            <a href="/art/detail2">{{data[1].title}}</a>
          </td>
          <td class="tbdate">{{data[1].date}}</td>
        </tr>
        <tr>
          <th class="title">공지</th>
          <td class="tbcontent">
            <a href="/art/detail3">{{data[2].title}}</a>
          </td>
          <td class="tbdate">{{data[2].date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- End EventNotice -->
<!-- EventContent -->
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8">
      <ul class="newslist_detail">
        <li class="item_news">
          <div class="area_text">
            <span class="news-link"><a href="/art">문화소식</a></span>
            <strong class="title_news">{{data[8].title}}</strong>
            <span class="daFe">{{data[8].date}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<section class="pf-details section">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="inner-content">
          <div class="body-text">
            <img src="/img/moon1.jpg" alt="#" />
            <p>
              “달빛 가득한 밤, 정조대왕의 발걸음을 따라 부평도호부로 떠나자!"
            </p>
            <p>부평도호부관아, 풍류가 흐르는 향유 공간이 되다.</p>
            <p>
              오는
              <span style="color: purple"
                >9월 1일(금), 저녁 6시부터 9시까지 부평도호부관아 일원</span
              >​에서
            </p>
            <p>
              <mark><달빛가득 부평도호부 – 정조대왕의 야간행차></mark>를
              개최합니다.
            </p>
            <p>
              정조대왕이 능행차 길에 부평도호부를 들러 휴식을 취했다는 역사
              기록을 바탕으로
            </p>
            <p>
              문화유산을 다채롭게 향유할 수 있도록 구성된 본 프로그램에 많은
              신청 부탁드립니다.
            </p>

            <img src="/img/moon2.jpg" alt="#" />

            <h5>
              <span style="color: gold">▶ 행사 안내</span>
            </h5>
            <p><mark>일시</mark> : 9월 1일(금), 18:00 ~ 21:00</p>
            <p><mark>장소</mark> : 부평도호부관아 (인천 계양구 어사대로 20)</p>
            <p><mark>대상</mark> : 지역 주민 등 누구나</p>
            <p><mark>참가비</mark> : 무료</p>
            <p><mark>선발기준</mark></p>
            <p>1. 계양구민 (타구민 후순위)</p>
            <p>2. 올해 생생문화재 사업 미참여자 (기참여자 후순위)</p>
            <p>※ 모든 체험은 사전 신청받아 운영되며, 공연 및</p>
            <p>이벤트는 별도의 신청 없이 참여 가능합니다.</p>
            <hr />
            <h5>
              <span style="color: gold">▶ 프로그램</span>
            </h5>
            <p>[체 험] 1797 부평별시</p>
            <p>[공 연] 부평도호부 달빛 연회</p>
            <p>[이벤트] 달빛가득 포토존</p>
            <p>[이벤트] 모두 함께 즐기는 SNS 이벤트</p>
            <p>※ 체험은 <span style="color: orangered;">10세 이상(초등학교 3학년)부터 신청 가능</span>합니다.</p>
            <p>※ 체험은 <span style="color: orangered;">다중 신청이 불가능</span>합니다.</p>
            <p>
              ※ 체험 대상자는 계양구민 및 사업 미참여자를 우선으로 하며, 체험
              가능 인원
            </p>
            <p>, 신청자 연령 등을 고려하여 선정할 예정</p>
            <hr>
            <h5>🌙 1. 1797 부평별시 (캘리그라피 작품 만들기)</h5>
            <p>
              정조대왕의 특별 과거시험! 수채 캘리그라피를 통해 부평도호부의
              아름다움
            </p>
            <p>을 작품으로 표현하는 프로그램</p>
            <p>(장원에게 기념품 증정)</p>
            <p>- 1회차 : 18:00~18:50</p>
            <p>- 2회차 : 19:00~19:50</p>

            <h5>🌙 2. 부평도호부 달빛 야행 (조족등 30분 / 관아 투어 20분)</h5>
            <p>
              “달빛을 들어 도호부를 순찰하다!” 조족등 만들기와 부평도호부사와
              함께하
            </p>
            <p>는 관아 투어를 통해</p>
            <p>
              부평도호부의 역사와 의미를 쉽고 재미있게 알아가는 야행 프로그램
            </p>
            <p>- 1회차 : 18:30~19:20</p>
            <p>- 2회차 : 19:05~19:55</p>

            <h5>🌕 부평도호부 달빛 연회 | 20:00~20:45 ​🌕</h5>
            <p>정조대왕의 능행차와 백성들에게 혜택을 주었던 것을</p>
            <p>축하하기 위한 달빛 연회!</p>
            <p>
              신명하는 풍물패, 퓨전 국악 등 모두가 즐길 수 있는 야간 공연
              프로그램
            </p>
            <p>풍물패 <더늠> / 퓨전국악밴드 출연</p>

            <h5>🌕 달빛가득 포토존 | 18:00~21:00 🌕</h5>
            <p>부평도호부관아와 욕은지를 수놓은 경관조명, 보름달 조명 등</p>
            <p>문화유산과 함께 예쁜 추억을 남길 수 있도록 마련된 포토존/p></p>

            <h5>🌕모두 함께 즐기는 SNS 이벤트 | 18:00~21:00 🌕</h5>
            <p>
              계양문화원 인스타그램 팔로우 & 해시태그 이벤트 (선착순 참여로
              기념품 증정!)
            </p>

            <h5>
              <span style="color: gold">▶ 신청 방법</span>
            </h5>

            <p><mark>신청방법</mark> : 네이버 폼 접수 ➡️ https://naver.me/FvF3DGIV
            </p>
            <p><mark>신청기간</mark> : 8.9.(수) ~ 8.23.(수)
            </p>
            <p><mark>선정결과</mark> : 접수 마감 후 홈페이지 공고 및 개별 통보 (8.25.(금) 예정)
            </p>
            <p><mark>문의처</mark> : ☎ 032-450-5754 (계양문화원 생생문화재 담당자)
            </p>

            <div class="share">
              <h4>Share Now -</h4>
              <ul>
                <li>
                  <a href="#"
                    ><i class="fa fa-facebook-official" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "include/footer.html"%}
