{% include "include/header.html"%}

<div class="container mt-5">
  <ul>
    <li class="smtitle">
      &nbsp;&nbsp;정책소식 &nbsp;>&nbsp; 복지서비스 &nbsp;>&nbsp; 복지서비스
      상세
    </li>
  </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
  <div class="bgtitle">
    <h2 class="tt-text">복지서비스 상세</h2>
    <div class="cl-text">
      내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
    </div>
  </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
  <div class="cardarea">
    <div class="card">
      <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">노년</span>
        <span class="tag">중장년</span>
        <span class="tag">청년</span>
        <span class="tag">신체건강</span>
        <span class="tag">저소득</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="card-ti">의료급여수급권자 일반건강검진비 지원</p>
            <p class="card-te">
              의료급여수급권자를 대상으로 일반건강검진, 의료급여생애<br />전환기검진을
              제공하여 건강증진을 도모합니다.
            </p>
          </div>
          <div class="col">
            <div class="circle">
              <a>소관부처</a>
              <p>보건복지부</p>
            </div>
            <div class="circle">
              <a>제공유형</a>
              <p>프로그램/서비스</p>
            </div>
            <div class="circle">
              <a>지원주기</a>
              <p>수시</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--List button area-->
<div class="tt1">
  <button onclick="location.href='/'">
    <span>목록</span>
    <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
      <path
        d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
      />
    </svg>
  </button>
</div>
<!--Final card Area-->
<div class="container mt-5">
  <div class="container mt-3 mb-3">
    <div class="cardarea">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>
              (일반건강검진) 의료급여수급권자 중 20~64세 세대주 밑 세대원을
              지원합니다.
            </li>
            <li>
              (의료급여생애전환기검진) 의료급여수급권자 중 66세이상 세대주 및
              세대원을 지원합니다.
            </li>
            <br /><br />
          </ul>
          <h5 class="card-title">서비스 내용</h5>
          <ul class="card-text">
            <li>
              (일반건강검진) 고혈압, 당뇨 등 심뇌혈관질환을 조기 발견하여 치료
              및 관리로 연계하기 위해 건강검진 서비스를 제공합니다.<br />-문진
              및 진찰<br />-흉부방사선<br />-요검사<br />-구강검진
            </li>
            <li>
              (의료급여생애전환기건강검진) 성별연령별 특성에 적합한 맞춤형
              건강진단 서비스를 제공합니다.<br />-콜레스테롤검사 : 남성
              24세이상, 여성 40세 이상 4년마다 <br />- 골밀도 검사 : 54세, 66세
              여성 <br />- 인지기능장애 : 66세 이상 2년마다 <br />-
              정신건강검사(우울증) : 20, 30, 40, 50, 60, 70세
              <br />생활습관평가: 40, 50, 60, 70세 <br />- 노인신체기능검사 :
              66세, 70세, 80세
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "include/footer.html"%}
