{% include "include/header.html"%}

<div class="container mt-5">
  <ul>
    <li class="smtitle">
      &nbsp;&nbsp;정책소식 &nbsp;>&nbsp; 복지서비스 &nbsp;>&nbsp; 복지서비스
      상세
    </li>
  </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
  <div class="bgtitle">
    <h2 class="tt-text">복지서비스 상세</h2>
    <div class="cl-text">
      내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
    </div>
  </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
  <div class="cardarea">
    <div class="card">
      <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">생활지원</span>
        <span class="tag">서민금융</span>
        <span class="tag">청년</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="card-ti">서민금융 활성화 지원(햇살론youth 보증사업)</p>
            <p class="card-te">
              금융취약계층인 대학생,청년의 금융애로를 해소하여 학업<br> 및 취업에
              전념, 향후 제도권 금융으로 안착할 수 있도록 지<br>원합니다.
            </p>
          </div>
          <div class="col">
            <div class="circle">
              <a>소관부처</a>
              <p>금융위원회</p>
            </div>
            <div class="circle">
              <a>제공유형</a>
              <p>현금대여(융자)</p>
            </div>
            <div class="circle">
              <a>지원주기</a>
              <p>1회성</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--List button area-->
<div class="tt1">
  <button onclick="location.href='/'">
    <span>목록</span>
    <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
      <path
        d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
      />
    </svg>
  </button>
</div>

<!--Final card Area-->
<div class="container mt-5">
  <div class="container mt-3 mb-3">
    <div class="cardarea">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>
              만 19세 이상 ~ 34세 이하이면서 연소득 3천 5백만원 이하인 대학생,
              청년에게 지원합니다.
            </li>
          </ul>
            <br /><br />
          </ul>
          <h5 class="card-title">서비스 내용</h5>
          <ul class="card-text">
            <li>
              1인당 최대 1천 2백만원 한도 내 지원합니다.
            </li>
            <ul class="card-smtext">
                <li>자금용도 : 일반생활자금 1회 200만원(연간 600만원), 특정용도자금(주거비, 의료비, 학업취업비) 1회 연간 900만원 한도로 보증</li>
            </ul>
            <br /><br />
          </ul>
          <h5 class="card-title">신청방법</h5>
          <ul class="card-text">
            <li>
                서민금융진흥원 앱(APP)을 통해 기본자격 요건 확인 및 보증신청이 가능합니다.
            </li>
            <li>보증 약정 이후 햇살론유스 협약은행(기업, 신한, 전북은행) 중 우대 서비스 등을 비교하여 원하는 은행에 대출신청이 가능합니다.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "include/footer.html"%}
