{% include "include/header.html"%}

<div class="container mt-5">
  <ul>
    <li class="smtitle">
      &nbsp;&nbsp;정책소식 &nbsp;>&nbsp; 복지서비스 &nbsp;>&nbsp; 복지서비스
      상세
    </li>
  </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
  <div class="bgtitle">
    <h2 class="tt-text">복지서비스 상세</h2>
    <div class="cl-text">
      내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
    </div>
  </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
  <div class="cardarea">
    <div class="card">
      <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">노년</span>
        <span class="tag">중장년</span>
        <span class="tag">청년</span>
        <span class="tag">보훈대상자</span>
        <span class="tag">생활지원</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="card-ti">국가유공자 등 LPG차량 세금인상분 지원</p>
            <p class="card-te">
              국가유공상이자 등이 보철용으로 사용하는 LPG차량에 대<br>해,차량
              유류비의 세금인상분을 지원합니다.
            </p>
          </div>
          <div class="col">
            <div class="circle">
              <a>소관부처</a>
              <p>국가보훈부</p>
            </div>
            <div class="circle">
              <a>제공유형</a>
              <p>실물바우처</p>
            </div>
            <div class="circle">
              <a>지원주기</a>
              <p>수시</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--List button area-->
<div class="tt1">
  <button onclick="location.href='/'">
    <span>목록</span>
    <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
      <path
        d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
      />
    </svg>
  </button>
</div>
<!--Final card Area-->
<div class="container mt-5">
  <div class="container mt-3 mb-3">
    <div class="cardarea">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>
              국가유공상이자(1~7급), 5.18민주화운동부상자(1~14급),
              고엽제후유의증(고도, 증등도, 경도), 독립유공자,
              보훈보상・지원대상자(1~7급)가 이용하는 보철용 LPG차량 1대에 대하여
              지원합니다.
            </li>
          </ul>
          <br /><br />
          <h5 class="card-title">서비스 내용</h5>
          <ul class="card-text">
            <li>
              국가유공자 보철용차량 LPG세금인상분을 지원합니다.
            </li>
            <li>
              복지카드를 이용하여 LPG 충전 시 월 300리터 범위 내에서 리터당 150원 할인을 보조합니다.
              <br>*유류세 인하조치에 따라 2022.7.1. 0시부터 2023.4.30까지 리터당 150원으로 조정적용
            </li>
            <br /><br />
          </ul>
          <h5 class="card-title">신청방법</h5>
          <ul class="card-text">
            <li>
              보훈지(방)청에 직접 방문 신청하시거나 정부 24홈페이지(www.gov,kr)에서 온라인 신청을 합니다.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "include/footer.html"%}
