{% include "include/header.html"%}

<!--Banner-->
<div class="index-banner"></div>
<!--End Banner-->

<div class="container mt-5">
  <ul>
      <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스</li>
  </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
  <div class="bgtitle">
     <h2 class="tt-text">서비스 목록</h2>
     <div class="cl-text">
          내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
     </div>
  </div>
</div>

<!--Search Area-->
<section class="error-page">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 col-12">
        <!-- Error Inner -->
        <div class="error-inner">
          <form class="search-form">
            <input placeholder="키워드를 입력하세요" type="text">
            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <!--/ End Error Inner -->
      </div>
      </div>
    </div>
  </div>
</section>	

<!--Service List Area-->
<div class="container mt-3">
  <div class="cards">
      <table class="cards-body">
          <tbody>
              <tr>
                  <td class="ccc">
                      <ul class="service-list">
                          <li class="slist">
      <article class="information [ card ]">
        <div class="tagfor">
          <span class="tag">서민금융</span>
          <span class="tag">청년</span>
        </div>
          <h2 class="title">청년도약계좌</h2>
          <p class="info">만기 5년 동안 매월 70만원 한도 내에서 자유롭게 납입 가능한 정부지원형 적금상품으로 청년의 중장기 자산형성을 지원합니다.</p>
          <ul class="info-details">
              <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1397</a></li>
              <li>지원주기<a>월</a></li>
              <li>제공유형<a>기타</a></li>
              <li>담당부처<a>금융위원회 청년정책과</a></li>
          </ul>
          <button class="button" onclick="location.href='detail1'">
              <span>자세히 보기</span>
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                  <path d="M0 0h24v24H0V0z" fill="none" />
                  <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
              </svg>
          </button>
      </article>
  </li>

  <li class="slist">
      <article class="information [ card ]">
        <div class="tagfor">
          <span class="tag">주거</span>
          <span class="tag">서민금융</span>
          <span class="tag">저소득</span>
          </div>
          <h2 class="title">청년월세 한시 특별지원</h2>
          <p class="info">코로나19 장기화로 경제적 어려움을 겪는 청년층의 주거비 부담 경감을 위해 청년월세를 한시적으로 지원합니다.</p>
          <ul class="info-details">
              <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1600-0777</a></li>
              <li>지원주기<a>월</a></li>
              <li>제공유형<a>현금지급</a></li>
              <li>담당부처<a>국토교통부 주거복지지원과</a></li>
          </ul>
          <button class="button" onclick="location.href='detail2'">
              <span>자세히 보기</span>
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                  <path d="M0 0h24v24H0V0z" fill="none" />
                  <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
              </svg>
          </button>
      </article>
  </li>

  <li class="slist">
    <article class="information [ card ]">
      <div class="tagfor">
        <span class="tag">정신건강</span>
        <span class="tag">청년</span>
      </div>
        <h2 class="title">청년마음건강지원사업</h2>
        <p class="info">청년의 심리 건강 회복을 통해 삶의 질을 높이고 건강한 사회구성원이 되도록 돕습니다.</p>
        <ul class="info-details">
              <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>129</a></li>
              <li>지원주기<a>분기</a></li>
              <li>제공유형<a>전자바우처(바우처)</a></li>
              <li>담당부처<a>보건복지부 사회서비스사업과</a></li>
        </ul>
        <button class="button" onclick="location.href='detail3'">
            <span>자세히 보기</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
            </svg>
        </button>
    </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">서민금융</span>
      <span class="tag">저소득</span>
      <span class="tag">청년</span>
    </div>
      <h2 class="title">청년내일저축계좌</h2>
      <p class="info">근로빈곤충 청년의 생계수급자 등으로의 하락을 사전에 예방하고, 일하는 중간계층 청년이 사회에 안착할 수 있도록 자산형성을 지원합니다.</p>
      <ul class="info-details">
              <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>129</a></li>
              <li>지원주기<a>월</a></li>
              <li>제공유형<a>현금지급</a></li>
              <li>담당부처<a>보건복지부 자립지원과</a></li>
      </ul>
      <button class="button" onclick="location.href='detail4'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">일자리</span>
      <span class="tag">저소득</span>
      <span class="tag">청년</span>
    </div>
      <h2 class="title">국민취업지원제도</h2>
      <p class="info">저소득 구직자, 청년, 경력단절여성 등 취업 취약계층을 대상으로 취업지원서비스와 생계지원을 함께 제공합니다.</p>
      <ul class="info-details">
              <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1350</a></li>
              <li>지원주기<a>월</a></li>
              <li>제공유형<a>현금지급,프로그램/서비스</a></li>
              <li>담당부처<a>고용노동부 국민취업지원팀</a></li>
      </ul>
      <button class="button" onclick="location.href='detail5'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">교육</span>
      <span class="tag">중장년</span>
      <span class="tag">청년</span>
      </div>
      <h2 class="title">취업 후 상환 학자금대출</h2>
      <p class="info">대학 학자금 마련에 어려움을 겪는 학생들에게 저리의 학자금 대출을 지원하고,재학기간에는 대출원리금 상환을 유예, 취업 후 일정기준의 소득이 발생한 때부터 상환할 수 있도록 합니다.</p>
      <ul class="info-details">
              <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1599-2000</a></li>
              <li>지원주기<a>반기</a></li>
              <li>제공유형<a>현금대여(융자)</a></li>
              <li>담당부처<a>교육부 청년장학지원과</a></li>
      </ul>
      <button class="button" onclick="location.href='detail6'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">교육</span>
      <span class="tag">청년</span>
      <span class="tag">중장년</span>
    </div>
      <h2 class="title">일반 상환 학자금대출</h2>
      <p class="info">학자금이 필요한 대학(원)생 및 학점은행제 학습자에게 저리로 학자금대출을 지원하여 균등한 고등교육 기회를 제공합니다.</p>
      <ul class="info-details">
        <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1599-2000</a></li>
              <li>지원주기<a>반기</a></li>
              <li>제공유형<a>현금대여(융자)</a></li>
              <li>담당부처<a>교육부 청년장학지원과</a></li>
      </ul>
      <button class="button" onclick="location.href='detail7'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">주거</span>
      <span class="tag">서민금융</span>
      <span class="tag">청년</span>
    </div>
      <h2 class="title">버팀목전세자금대출</h2>
      <p class="info">무주택세대주의 주택전세자금 융자를 통해 주거안정을 지원합니다.</p>
      <ul class="info-details">
        <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1566-9009</a></li>
              <li>지원주기<a>1회성</a></li>
              <li>제공유형<a>현금대여(융자)</a></li>
              <li>담당부처<a>국토교통부 주택기금과</a></li>
      </ul>
      <button class="button" onclick="location.href='detail8'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">생활지원</span>
      <span class="tag">교육</span>
      <span class="tag">서민금융</span>
    </div>
      <h2 class="title">우수학생 국가장학금 지원</h2>
      <p class="info">이공계 우수 학생을 조기 발굴, 학비를 지원하여 이공계 진학 유도 및 미래의 핵심인재로 육성을 지원합니다.</p>
      <ul class="info-details">
        <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1599-2000</a></li>
              <li>지원주기<a>반기</a></li>
              <li>제공유형<a>현금지급</a></li>
              <li>담당부처<a>과학기술정보통신부</a></li>
      </ul>
      <button class="button" onclick="location.href='detail9'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>
  </ul>
  </td>
  </tr>
      </tbody>
  </table>
  </div>
</div>

<!--Start pagenation area-->
<div class="demo">
  <nav class="pagination-outer" aria-label="Page navigation">
      <ul class="pagination">
          <li class="page-item">
              <a href="/" class="page-link" aria-label="Previous">
                  <span aria-hidden="true">«</span>
              </a>
          </li>
          <li class="page-item active"><a class="page-link" href="/">1</a></li>
          <li class="page-item"><a class="page-link" href="/index2">2</a></li>
          <li class="page-item"><a class="page-link" href="/index3">3</a></li>
          <li class="page-item">
              <a href="/index3" class="page-link" aria-label="Next">
                  <span aria-hidden="true">»</span>
              </a>
          </li>
      </ul>
  </nav>
</div>

{% include "include/footer.html"%}