{% include "include/header.html"%}

<div class="container mt-5">
    <ul>
        <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스   &nbsp;>&nbsp;   복지서비스 상세</li>
    </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
    <div class="bgtitle">
       <h2 class="tt-text">복지서비스 상세</h2>
       <div class="cl-text">
            내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
       </div>
    </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
    <div class="cardarea">
    <div class="card">
    <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">서민금융</span>
        <span class="tag">신체건강</span>
        <span class="tag">아동</span>
        <span class="tag">청년</span>
        <span class="tag">청소년</span>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-ti">청소년특별지원</p>
                <p class="card-te">보호자가 없거나, 실질적으로 보호자의 보호를 받지 못하는<br> 사회, 경제적으로 어려움이 있는 위기청소년이 올바르게성<br>장하고 안정된 생활을 할 수 있도록 지원합니다.</p>
            </div>
            <div class="col">
                <div class="circle">
                    <a>소관부처</a>
                    <p>여성가족부</p>
                </div>
                <div class="circle">
                    <a>제공유형</a>
                    <p>현금・현물지급</p>
                </div>
                <div class="circle">
                    <a>지원주기</a>
                    <p>수시</p>
                </div>
            </div>
           </div>
    </div>
  </div>
</div>
</div>

<!--List button area-->
<div class="tt1">
    <button onclick="location.href='/'">
      <span>목록</span>
      <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
        <path
          d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
        />
      </svg>
    </button>
  </div>

<!--Final card Area-->
<div class="container mt-5">
    <div class="container mt-3 mb-3">
        <div class="cardarea">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>만 9세 이상 만 24세 이하 청소년 중 아래 대상자를 지원합니다.</li>
            </ul>
            <ul class="card-smtext">
          <li>「청소년복지 지원법」 제19조 제1항에 따른 교육적 선도 대상자 중에서 비행예방을 위하 지원이 필요한 청소년</li>
          <li>「학교 밖 청소년 지원에 관한 법률」 제2조제2호에 따른 학교 밖 청소년</li>
          <li>보호자가 없거나, 실질적으로 보호자의 보호를 받지 못하는 청소년</li>
          </ul>
          <ul class="card-text">
            <li>청소년이 속한 가구의 소득이 일정 기준금액(중위소득 100%) 이하인 청소년을 대상으로 합니다.</li><br><br>
            </ul>
        <h5 class="card-title">서비스 내용</h5>
        <ul class="card-text">
            <li>(생활지원) 청소년이 일상생황르 유지하기 위하여 필요한 의식주 등 기초생계비와 숙식제공 등의 서비스를 지원합니다.<br>-의복/음식물 및 연료비 기타 일상 생활에 필요한 기초생계비,숙식 제공<br>
            -월 65만원 이내</li>
            <li>(건강지원) 청소년이 신체/정신적으로 건강하게 성장하기 위해 요구되는 요양 급여 비용 및 서비스를 지원합니다.<br>-진찰/검사,약제/치료재료의 지급,처치/수술,그 밖의 치료,예방/재활,입원/간호,이송 등 의료목적 달성을 위한 기타 조치사항<br>
            ※비급여 제외, 본인부담액 지원<br>-연 200만원 이내</li>
            <li>(학업지원) 청소년이 계속적인 학업을 수행하기 위하여 필요한 교육비용 및 건전육성을 위한 서비스를 지원합니다.<br>-초/중등교육법 제2조에 의한 학교 입학금 및 수업료, 교과서대, 중고등학교 졸업학력 검정고시 준비에 필요한 학원비, 교과 학원비<br>
            -수업료 학교운영비 월 15만원 이내, 그 외 월 30만원 이내</li>
            <li>(자립지원) 청소년이 지식/기술/기능이나 능력을 함양하여 사회의 한 구성원으로서 자립하는데 필요한 비용 및 서비스를 지원합니다.<br>-지식,기술 및 기능 습득을 위한 비용,진로상담 비용(적성/흥미 검사 및 상담 비용 포함)및 직업체험 비용,취업 알선 및 사후지도 비용<br>
            -월 36만원 이내</li>
            <li>(기타지원) 운영위원회가 예산의 범위 안에서 필요하다고 인정한 지원을 지원합니다.<br>-청소년이 수치심을 느낄 수 있는 외모 및 흉터 등의 교정,위기청소년의 교복,체육복,학용품,수업재료 지원 등</li><br><br>
            </ul>
        <h5 class="card-title">신청방법</h5>
        <ul class="card-text">
            <li>거주지 읍면동 주민센터에 방문하세요</li>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>

{% include "include/footer.html"%}