{% include "include/header.html"%}

<div class="container mt-5">
    <ul>
        <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스   &nbsp;>&nbsp;   복지서비스 상세</li>
    </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
    <div class="bgtitle">
       <h2 class="tt-text">복지서비스 상세</h2>
       <div class="cl-text">
            내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
       </div>
    </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
    <div class="cardarea">
    <div class="card">
    <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">노년</span>
        <span class="tag">중장년</span>
        <span class="tag">청년</span>
        <span class="tag">서민금융</span>
        <span class="tag">주거</span>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-ti">버팀목전세자금대출</p>
                <p class="card-te">무주택세대주의 주택전세자금 융자를 통해 주거안정을 지원<br>합니다.</p>
            </div>
            <div class="col">
                <div class="circle">
                    <a>소관부처</a>
                    <p>국토교통부</p>
                </div>
                <div class="circle">
                    <a>제공유형</a>
                    <p>현금대여(융자)</p>
                </div>
                <div class="circle">
                    <a>지원주기</a>
                    <p>1회성</p>
                </div>
            </div>
           </div>
    </div>
  </div>
</div>
</div>

<!--List button area-->
<div class="tt1">
    <button onclick="location.href='/'">
      <span>목록</span>
      <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
        <path
          d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
        />
      </svg>
    </button>
  </div>

<!--Final card Area-->
<div class="container mt-5">
    <div class="container mt-3 mb-3">
        <div class="cardarea">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>아래 가입요건을 충족하는 무주택 세대주는 주택전세자금 융자 신청이 가능합니다.<br>-대출 신청일 현재 만 19세 이상인 세대주 또는 세대주로 인정되는 자
            <br>-부부합산 연소득 5천만원 이하(신혼부부,2자녀 이상 가구,혁신도시 이전 공공기관종사자 및 재개발지역 이주자는 6천만원까지 허용)<br>-순자산 기준금액이 3.25억원 이하
            <br>-부양가족 및 기초생활수급자,차상위계층,한부모가정 중 세대주 및 세대원 전원이 무주택자</li>
            </ul>
            <ul class="card-text">
          <li>(나이요건) 신규 가입일 기준 만 19세 ~ 34세 이하인 청년<br>*병역이행기간 최대 6년 추가 인정</li>
          <li>(개인소득요건) 직전과세기간의 총급여액이 7,500만원 이하이며, 종합소득과세표준에 합산되는 종합소득금액이 6,300만원 이하인 경우<br>*단,비과세소득만 있는 경우는 제외</li>
          <li>(금융소득요건) 가입일이 속한 과세기간의 직전 3개 과세기간 중 1회 이상 금융소득종합과세대상*에 해당하지 않는 자<br>*이자소득 및 배당소득이 2천만원을 초과하는 자</li>
          <li>(가구소득요건)가구소득 중위 180%이하인 자</li>
          <li>대상주택은 다음과 같습니다.<br>-전용면적:85㎡이하(수도권을 제외한 도시지역이 아닌 읍 또는 면지역은 100㎡이하)<br>-전세보증금:수도권 3억원(지방 2억원) 이하<br>*2자녀이상 가구는 수도권 4억원,지방 3억원 이하</li><br><br>
          </ul>
        <h5 class="card-title">서비스 내용</h5>
        <ul class="card-text">
            <li>대출한도는 다음과 같습니다.<br>-임차보증금 70%내 수도권 1억 2천만원, 지방 8천만원<br>-단,신혼,2자녀 이상 가구는 임차보증금 80% 내 수도권 3억원, 지방 2억원</li>
            <li>대출금리는 다음과 같습니다.<br>-소득별,임차보증금 구간별 1.8%~2.4%<br>-금리는 정부부처 정책에 다라 달라질 수 있어 주택도시기금<a href="https://enhuf.molit.go.kr">(nhuf.molit.go.kr)</a>홈페이지 통해 최신적용기준 확인</li>
            <li>우대금리는 다음과 같으며, 중복적용이 불가합니다.<br>-연소득 4천만원 이하 기초생활수급자,차상위계층:연 1.0%p<br>-연소득 5천만원 이하 한부모가구:연 1.0%p<br>-장애인,노인부양,다문화,고령자가구:연0.2%p</li>
            <li>추가우대금리는 다음과 같으며, 중복적용이 불가합니다.<br>-주거안정 월세대출 성실납부자:연 0.2%p<br>-부동산 전자계약 체결(2022.12.31.신규 접수분까지):연 0.1%p<br>-다자녀가구 연0.7%p,2자녀가구 연0.5%p,1자녀가구 연0.3%p<br>
            *우대금리 적용 후 최종금리가 연 1.0% 미만인 경우에는 연 1.0%로 적용<br>*자산심사 부적격자의 경우 가산금리가 부과</li>
            <li>이용기간은 2년으로, 4회 연장하여 최장 10년 가능합니다.<br>-주택도시보증공사 전세금안심대출 보증서:최대 2년 1개월(4회 연장하여 최장 10년 5개월 가능)<br>-최장 10년 이용 후 연장시점 기준 미성년 1자녀당 2년 추가</li>
            <li>일시상환 또는 혼합상환 가능합니다.</li><br><br>
            </ul>
        <h5 class="card-title">신청방법</h5>
        <ul class="card-text">
            <li>주택도시기금 인터넷 대출신청 홈페이지<a href="https://enhuf.molit.go.kr">(https://enhuf.molit.go.kr)</a>대출신청 또는 취급은행 방문을 통한 대출신청이 가능합니다.</li>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>

{% include "include/footer.html"%}