{% include "include/header.html"%}

<div class="container mt-5">
    <ul>
        <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스   &nbsp;>&nbsp;   복지서비스 상세</li>
    </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
    <div class="bgtitle">
       <h2 class="tt-text">복지서비스 상세</h2>
       <div class="cl-text">
            내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
       </div>
    </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
    <div class="cardarea">
    <div class="card">
    <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">생활지원</span>
        <span class="tag">신체건강</span>
        <span class="tag">중장년</span>
        <span class="tag">청년</span>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-ti">상병수당 시범사업</p>
                <p class="card-te">근로자가 업무 외 질병・부상으로 경제활동이 어려운 경우 치료<br>에 집중할 수 있도록 소득을 보전합니다.</p>
            </div>
            <div class="col">
                <div class="circle">
                    <a>소관부처</a>
                    <p>보건복지부</p>
                </div>
                <div class="circle">
                    <a>제공유형</a>
                    <p>현금지급</p>
                </div>
                <div class="circle">
                    <a>지원주기</a>
                    <p>수시</p>
                </div>
            </div>
           </div>
    </div>
  </div>
</div>
</div>

<!--List button area-->
<div class="tt1">
    <button onclick="location.href='/'">
      <span>목록</span>
      <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
        <path
          d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
        />
      </svg>
    </button>
  </div>

<!--Final card Area-->
<div class="container mt-5">
    <div class="container mt-3 mb-3">
        <div class="cardarea">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>상병수당 시범사업 지역 거주 취업자 및 시범사업 지역 소재 사업장 근로자를 지원합니다.</li>
            </ul>
            <ul class="card-smtext">
          <li>(대상지역)<br>-1단계 시범사업:서울 종로구,경기 부천시,충남 천안시,전남 순천시,경북 포항시,경남 창원시('22.7~)<br>-2단계 시범사업:경기 안양시,경기 용인시,대구 달서구,전북 익산시('23.7~)</li>
          <li>(기본자격)<br>-시범사업 지역 거주 취업자 또는 시범사업 지역 소재 사업장 근로자(거주지 무관)<br>-만 15세 이상 65세 미만 대한민국 국적자(일부 예외 적용)</li>
          <li>(취업자 기준)<br>-건강보험 직장가입자(근로활동불가기간 초일 포함 직전 1개월 간 자격 유지)<br>-고용보험 또는 산재보험 가입자(근로활동불가기간 초일 포함 직전 1개월 간 자격 유지)<br>-자영업자(근로활동불가기간 초일 포함 직전 3개월 간 사업자 등록 유지 및 직전 3개월 월평균 매출액 201만원 이상)<br>
        *단,1단계 시범사업 기간 동안 한시적으로 직전 3개월 중 1개월 이상 매출이 201만원 이상인 경우 예외 인정</li>
          <li>(소득・재산 기준)<br>①가구 합산 건강보험료 기준중위소득 120% 이하<br>②가구 재산 합산액 7억원(재산세 과세표준액 기준)이하<br>*가구원:신청인과 동일 주민등록표에 기재된 민법상 가족(2촌 이내) 및 일부 비동거 가족(배우자 및 만25세 미만 자녀,피부양자 세대 동일 건강보험증 상 비동거 가족)<br>
        *2단계 시범사업에만 해당하며, 두 요건을 모두 충족하여야 함.</li>
        <li>(지원제외자)공무원 및 국.공립학교 교직원,타제도 중복수급자,자동차보험 수급자,휴직자(질병휴직 제외),건강보험 급여정지자 등</li>
          </ul>
          <ul class="card-text">
            <li>고용보험 실업급여・출산전후휴가금여・육아휴직급여,산재보험 휴업급여・상병보상연금,생계급여 및 긴급복지 생계지원과 중복 지원되지 않습니다.</li><br><br>  
        </ul> 
        <h5 class="card-title">서비스 내용</h5>
        <ul class="card-text">
            <li>업무와 관련없는 질병・부상으로 일하기 어려운 기간동안 소득을 지원합니다.</li><br><br>
            </ul>
        <h5 class="card-title">신청방법</h5>
        <ul class="card-text">
            <li>국민건강보험공단 시범사업 운영지사* 방문 또는 공단 홈페이지<a href="www.nhis.or.kr">(www.nhis.or.kr)</a>,우편(등기),팩스를 통해 신청 가능합니다.<br>*(1단계)종로지사,부천북부지사,천안지사,포항남부지사,창원중부지사,순천곡성지사<br>
            *(2단계)달서지사,안양지사,용인서부지사,익산지사</li>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>

{% include "include/footer.html"%}