{% include "include/header.html"%}

<div class="container mt-5">
    <ul>
        <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스   &nbsp;>&nbsp;   복지서비스 상세</li>
    </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
    <div class="bgtitle">
       <h2 class="tt-text">복지서비스 상세</h2>
       <div class="cl-text">
            내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
       </div>
    </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
    <div class="cardarea">
    <div class="card">
    <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">교육</span>
        <span class="tag">생활지원</span>
        <span class="tag">서민금융</span>
        <span class="tag">청년</span>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-ti">우수학생 국가장학금 지원</p>
                <p class="card-te">이공계 우수 학생을 조기 발굴, 학비를 지원하여 이공계 진<br>학 유도 및 미래의 핵심인재로 육성을 지원합니다.</p>
            </div>
            <div class="col">
                <div class="circle">
                    <a>소관부처</a>
                    <p>과학기술정보통신</p>
                </div>
                <div class="circle">
                    <a>제공유형</a>
                    <p>현금지급</p>
                </div>
                <div class="circle">
                    <a>지원주기</a>
                    <p>반기</p>
                </div>
            </div>
           </div>
    </div>
  </div>
</div>
</div>

<!--List button area-->
<div class="tt1">
    <button onclick="location.href='/'">
      <span>목록</span>
      <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
        <path
          d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
        />
      </svg>
    </button>
  </div>
<!--Final card Area-->
<div class="container mt-5">
    <div class="container mt-3 mb-3">
        <div class="cardarea">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>(대통령과학장학금) 국내 및 해외 4년제 대학의 자연과학 및 공학계열 학과(부)에 입학예정 또는 확정인 신입생이거나 3학년 재학중인 자를 대상으로 지원합니다.</li>
            <li>(이공계 국가우수장학금) 국내 4년제 대학의 자연과학 및 공학게열 학과(부)에 입학예정 또는 확정인 신입생이거나 3학년 재학중인 자를 대상으로 지원합니다.</li>
            </ul>
            <ul class="card-text">
                <li>대통령과학장학금의 선정기준은 다음과 같습니다.</li>
            </ul>
            <ul class="card-smtext">
          <li>(1학년 신규)'22~'23년 국내 고등학교 졸업(예정)자 또는 초・중등교육법 상 고교 졸업자와 동등한 학력을 인정받은 자(이하'동등학력자')로서 국내 고등학교 재학 중 전학년 전학기 이수한 수학・과학 과목의 과목 수 또는 이수단위 합게가 다음의 기준 이상인 자(동등학력자는 충족 불요)<br>
        -과학고:석차 4등급 이내 과목, 10개 과목 이상 또는 24단위 이상<br>-일반고:석차 3등급 이내 과목, 10개 과목 이상 또는 24 단위 이상<br>-영재학교:A-학점 이상 과목, 10개 과목 이상 또는 24 단위 이상</li>
          <li>(3학년 신규)'23년 3월 3학년으로 학사정보가 등록된 자로서 대학교 재학중이며, 직전학기까지 총 평균성적이 백분위 점수 87점 이상인 자</li>
          </ul>
          <ul class="card-text">
            <li>이공계 국가우수장학금의 선정기준은 다음과 같습니다.</li>
        </ul>
        <ul class="card-smtext">
            <li>(성적 우수 유형)성적우수 유형 선발 인원의 80%를 대학별 당해연도('23년)자연 과학 및 공학계열 학과(부) 입학생 중 직전년도 신규 장학생 선발 실적과 이공계 재학생 비율에 따라 대학별 선발인원 배정</li>
            <li>(2년 지원 유형)국가우수장학생(이공계)으로 선발된 이력이 없는 자연과학 및 공학계열 학과(부) 3학년 학생 중 대학의 추천을 받은 자</li>
            <li>(한 학기 지원 유형)국가우수장학생(이공계)으로 선발된 이력이 없는 자연과학 및 공학계열 학과(부) 3학년 이상 학생 중 대학의 추천을 받은 자</li>
            <li>(과학기술전문사과 지원 유형)과학기술전문사관 후보생으로 선정된 자<br>※이공계 우수 국가장학생이 이공계 이외의 분야로 전공을 변경하거나, 졸업후 이공계 이외 분야로 진출할 경우 지급한 장학금을 관계 법령에 따라 환수</li><br><br>
            </ul>
        <h5 class="card-title">서비스 내용</h5>
        <ul class="card-text">
            <li>대통령과학장학금은 2023년 502명 내외(신규장학생 157명(국내137명,해외 20명), 계속장학생 3345명)에게 장학금을 지원합니다.</li>                                                                               
            </ul>
        <ul class="card-smtext">
                <li>국내: 장학금(등록금 전액),학업장려비(학기당 250만원),생활비(기초생활수급자인 경우 학기당 250만원)</li>
                <li>해외: 연 5만 달러 내에서 실비학비, 체재비 지원</li>
                <li>선정된 해당학기 및 정규학기 내에서 지원(단, 계속지원기준 충족 필요)<br>※5년제 학과는 10학기까지 지원,조기졸업은 졸업 시까지 지원</li>
        </ul>
        <ul class="card-text">
            <li>이공계 국가 우수장학금은 2023년 8,003명 내외(신입생신규 1학년 1,375명,재학생신규 1,475명,과학기술전문사관 25명,계속장학생 5,128명)에게 장학금을 지원합니다.</li>                                                                               
            </ul>
            <ul class="card-smtext">
                <li>장학금(등록금 전액),생활비(기초생활수급자 및 차상위계층인 경우 학기당 250만원)<br>※과학기술전문사관 후보생은 전문역량개발비(학기당 250만원)지원</li>
                <li>신규장학생은 선정된 해당학기 및 정규학기 내(최대 8학기) 지원(5년제 학과는 최대 10학기)</li>
                <li>재학중 우수자(2년 지원 유형) 및 과학기술전문사관 후보생 지원 유형은 선발 해당학기를 포함하여 최대 2년(정규 4학기)지원</li>
                <li>재학중 우수자(한학기 지원 유형)은 선발 해당학기 1회 지원<br>※단,장학생 지원기간은 계속지원기준 충족 필요</li><br><br>
        </ul>
        <h5 class="card-title">신청방법</h5>
        <ul class="card-text">
            <li>한국장학재단 홈페이지<a href="www.kosaf.go.kr">(www.kosaf.go.kr)</a>에서 사업공고 확인후 온라인으로 신청합니다.</li>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>

{% include "include/footer.html"%}