{% include "include/header.html"%}

<div class="container mt-5">
    <ul>
        <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스   &nbsp;>&nbsp;   복지서비스 상세</li>
    </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
    <div class="bgtitle">
       <h2 class="tt-text">복지서비스 상세</h2>
       <div class="cl-text">
            내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
       </div>
    </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
    <div class="cardarea">
    <div class="card">
    <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">교육</span>
        <span class="tag">중장년</span>
        <span class="tag">청년</span>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-ti">취업 후 상환 학자금대출</p>
                <p class="card-te">대학 학자금 마련에 어려움을 겪는 학생들에게 저리의 학자금<br> 대출을 지원하고,재학기간에는 대출원리금 상환을 유예,<br> 취업 후 일정기준의 소득이 발생한 때부터 상환할 수 있도록<br>합니다.</p>
            </div>
            <div class="col">
                <div class="circle">
                    <a>소관부처</a>
                    <p>교육부</p>
                </div>
                <div class="circle">
                    <a>제공유형</a>
                    <p>현금대여(융자)</p>
                </div>
                <div class="circle">
                    <a>지원주기</a>
                    <p>반기</p>
                </div>
            </div>
           </div>
    </div>
  </div>
</div>
</div>

<!--List button area-->
<div class="tt1">
    <button onclick="location.href='/'">
      <span>목록</span>
      <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
        <path
          d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
        />
      </svg>
    </button>
  </div>
<!--Final card Area-->
<div class="container mt-5">
    <div class="container mt-3 mb-3">
        <div class="cardarea">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>학부생 지원 기준은 다음과 같습니다.</li>
            </ul>
            <ul class="card-smtext">
          <li>학자금지원 8구간 이하(기준중위소득 200% 이하)이면서 만 35세 이하 학생<br>*다자녀(3자녀 이상)가구 및 자립준비청년 학부생의 경우 소득 무관<br>*선취업 후진학자 등은 만 45세 이하</li>
          <li>직전학기 12학점 이상 이수 (신입생,장애인은 적용 제외)</li>
          </ul>
          <ul class="card-text">
            <li>대학원생 지원 기준은 다음과 같습니다.</li>
            </ul>
            <ul class="card-smtext">
                <li>학자금지원 4구간 이하(기준중위소득 90% 이하)이면서 만 40세 이하 학생</li><br><br>
            </ul>
        <h5 class="card-title">서비스 내용</h5>
        <ul class="card-text">
            <li>대출 항목별 대출한도는 다음과 같습니다.<br>-(등록금 대출) 등록금 소요액 전액(당해학기 소요액 전액 / 대학원은 총한도 있음)<br>-(생활비 대출)｀23학년도 1학기 최대 200만원, 2학기 최대 150만원</li>
            </ul>
        <ul class="card-text">
            <li>대출금리는 연1.7% 입니다.(변동금리,2023학년도 1학기 기준)<br>*기초생활수급,차상위계층 및 다자녀 가구 학생은 재학 중 등록금 및 생활비 대출 이자 면제<br>*학자금지원 1~4구간 학생 및 자립준비청년은 의무상환 개시전 까지 생활비 대출 무이자 지원</li>
        </ul>
        <ul class="card-text">
            <li>연간소득금액이 상환기준소득금액(｀23년 기준 연소득 2,525만원) 이하일 경우 원리금 상환을 유예, 초과 시 의무상환을 개시합니다.</li><br><br>
        </ul> 
        <h5 class="card-title">신청방법</h5>
        <ul class="card-text">
            <li>한국장학재단 홈페이지<a href="www.work.go.kr/kua">(www.kosaf.go.kr)</a>에서 온라인으로 신청합니다.</li>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>

{% include "include/footer.html"%}