{% include "include/header.html"%}

<!--Banner-->
<div class="index-banner"></div>
<!--End Banner-->

<div class="container mt-5">
  <ul>
      <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스</li>
  </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
  <div class="bgtitle">
     <h2 class="tt-text">서비스 목록</h2>
     <div class="cl-text">
          내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
     </div>
  </div>
</div>

<!--Search Area-->
<section class="error-page">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 col-12">
        <!-- Error Inner -->
        <div class="error-inner">
          <form class="search-form">
            <input placeholder="키워드를 입력하세요" type="text">
            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <!--/ End Error Inner -->
      </div>
      </div>
    </div>
  </div>
</section>	

<!--Service List Area-->
<div class="container mt-3">
  <div class="cards">
      <table class="cards-body">
          <tbody>
              <tr>
                  <td class="ccc">
                      <ul class="service-list">
                          <li class="slist">
      <article class="information [ card ]">
        <div class="tagfor">
          <span class="tag">주거</span>
          <span class="tag">저소득</span>
          <span class="tag">한부모・조손</span>
        </div>
          <h2 class="title">행복주택 공급</h2>
          <p class="info">청년,신혼부부,한부모가족,대학생 등 젋은층의 주거 안정을 위해 직주근접이 가능한 부지에 주변 시세보다 저렴하게 공공임대주택을 공급합니다.</p>
          <ul class="info-details">
            <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1599-0001</a></li>
            <li>지원주기<a>1회성</a></li>
            <li>제공유형<a>현물지급</a></li>
            <li>담당부처<a>국토교통부 공공주택정책과</a></li>
          </ul>
          <button class="button" onclick="location.href='detail2-1'">
              <span>자세히 보기</span>
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                  <path d="M0 0h24v24H0V0z" fill="none" />
                  <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
              </svg>
          </button>
      </article>
  </li>

  <li class="slist">
      <article class="information [ card ]">
        <div class="tagfor">
          <span class="tag">신체건강</span>
          <span class="tag">저소득</span>
          <span class="tag">청년</span>
          </div>
          <h2 class="title">의료급여수급권자 일반건강검진비 지원</h2>
          <p class="info">의료급여수급권자를 대상으로 일반건강검진,의료급여생애전환기검진을 제공하여 건강증진을 도모합니다.</p>
          <ul class="info-details">
            <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1577-1000</a></li>
            <li>지원주기<a>수시</a></li>
            <li>제공유형<a>프로그램/서비스</a></li>
            <li>담당부처<a>보건복지부 건강증진과</a></li>
          </ul>
          <button class="button" onclick="location.href='detail2-2'">
              <span>자세히 보기</span>
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                  <path d="M0 0h24v24H0V0z" fill="none" />
                  <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
              </svg>
          </button>
      </article>
  </li>

  <li class="slist">
    <article class="information [ card ]">
      <div class="tagfor">
        <span class="tag">정신건강</span>
        <span class="tag">청년</span>
        <span class="tag">청소년</span>
      </div>
        <h2 class="title">청소년 매체활용 역기능 해소사업<br>(청소년인터넷・스마트폰과의존 치료)</h2>
        <p class="info">청소년 인터넷・스마트폰 과의존 예방 및 해소를 통해 청소년의 건강한 성장을 지원합니다.</p>
        <ul class="info-details">
          <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1388</a></li>
            <li>지원주기<a>1회성</a></li>
            <li>제공유형<a>프로그램/서비스</a></li>
            <li>담당부처<a>여성가족부 청소년보호환경과</a></li>
        </ul>
        <button class="button" onclick="location.href='detail2-3'">
            <span>자세히 보기</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
            </svg>
        </button>
    </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">교육</span>
      <span class="tag">장애인</span>
      <span class="tag">청년</span>
    </div>
      <h2 class="title">대학의 장애학생지원센터 운영지원(장애대학생 교육활동지원)</h2>
      <p class="info">장애대학생의 고등교육 활동에 필요한 각종 편의를 지원하여 학습효과를 증대하고 고등교육 기회를 확대합니다.</p>
      <ul class="info-details">
        <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>044-203-6568</a></li>
            <li>지원주기<a>반기</a></li>
            <li>제공유형<a>프로그램/서비스</a></li>
            <li>담당부처<a>교육부 평생직업교육기획과</a></li>
      </ul>
      <button class="button" onclick="location.href='detail2-4'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">신체건강</span>
      <span class="tag">청년</span>
      <span class="tag">중장년</span>
    </div>
      <h2 class="title">고혈압・당뇨병 등록관리사업</h2>
      <p class="info">고혈압,당뇨병 환자의 지속치료율 향상 및 건강행태 개선을 통해 심뇌혈관 질환으로 인한 장애 및 사망발생을 감소하고자 합니다.</p>
      <ul class="info-details">
        <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1339</a></li>
            <li>지원주기<a>월</a></li>
            <li>제공유형<a>현금지급</a></li>
            <li>담당부처<a>질병관리청 만성질환예방과</a></li>
      </ul>
      <button class="button" onclick="location.href='detail2-5'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">생활지원</span>
      <span class="tag">서민금융</span>
      <span class="tag">청년</span>
      </div>
      <h2 class="title">서민금융 활성화 지원(햇살론youth 보증사업)</h2>
      <p class="info">금융취약계층인 대학생,청년의 금융애로를 해소하여 학업 및 취업에 전념, 향후 제도권 금융으로 안착할 수 있도록 지원합니다.</p>
      <ul class="info-details">
            <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1397</a></li>
            <li>지원주기<a>1회성</a></li>
            <li>제공유형<a>현금대여(융자)</a></li>
            <li>담당부처<a>금융위원회 서민금융과</a></li>
      </ul>
      <button class="button" onclick="location.href='detail2-6'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">생활지원</span>
      <span class="tag">보훈대상자</span>
      <span class="tag">청년</span>
    </div>
      <h2 class="title">국가유공자 등 LPG차량 세금인상분 지원</h2>
      <p class="info">국가유공상이자 등이 보철용으로 사용하는 LPG차량에 대해,차량 유류비의 세금인상분을 지원합니다.</p>
      <ul class="info-details">
            <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1577-0606</a></li>
            <li>지원주기<a>수시</a></li>
            <li>제공유형<a>실물바우처</a></li>
            <li>담당부처<a>국가보훈부 복지정책과</a></li>
      </ul>
      <button class="button" onclick="location.href='detail2-7'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">교육</span>
      <span class="tag">임신・출산</span>
      <span class="tag">노년</span>
    </div>
      <h2 class="title">디지털 역량강화 교육(디지털배움터)</h2>
      <p class="info">디지털 경제・사회 활동에 누구나 참여할 수 있도록 전국민을 대상으로 디지털 역량강화 교육을 제공합니다.</p>
      <ul class="info-details">
            <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>053-230-1358</a></li>
            <li>지원주기<a>월</a></li>
            <li>제공유형<a>프로그램/서비스</a></li>
            <li>담당부처<a>과학기술정보통신부</a></li>
      </ul>
      <button class="button" onclick="location.href='detail2-8'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">생활지원</span>
      <span class="tag">청년</span>
      <span class="tag">중장년</span>
    </div>
      <h2 class="title">농업인연금보험료지원</h2>
      <p class="info">농산물 수입개방 확대로 인한 농업인의 경제적 부담을 경감하기 위해 연금 보험료 일부를 지원하여 안정적인 노후생활을 도모합니다.</p>
      <ul class="info-details">
        <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1355</a></li>
        <li>지원주기<a>월</a></li>
        <li>제공유형<a>감면</a></li>
        <li>담당부처<a>농림축산식품부</a></li>
      </ul>
      <button class="button" onclick="location.href='detail2-9'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>
  </ul>
  </td>
  </tr>
      </tbody>
  </table>
  </div>
</div>

<!--Start pagenation area-->
<div class="demo">
  <nav class="pagination-outer" aria-label="Page navigation">
      <ul class="pagination">
          <li class="page-item">
              <a href="/" class="page-link" aria-label="Previous">
                  <span aria-hidden="true">«</span>
              </a>
          </li>
          <li class="page-item"><a class="page-link" href="/">1</a></li>
          <li class="page-item active"><a class="page-link" href="/index2">2</a></li>
          <li class="page-item"><a class="page-link" href="/index3">3</a></li>
          <li class="page-item">
              <a href="/index3" class="page-link" aria-label="Next">
                  <span aria-hidden="true">»</span>
              </a>
          </li>
      </ul>
  </nav>
</div>

{% include "include/footer.html"%}
