{% include "include/header.html"%}

<div class="container mt-5">
  <ul>
    <li class="smtitle">
      &nbsp;&nbsp;정책소식 &nbsp;>&nbsp; 복지서비스 &nbsp;>&nbsp; 복지서비스
      상세
    </li>
  </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
  <div class="bgtitle">
    <h2 class="tt-text">복지서비스 상세</h2>
    <div class="cl-text">
      내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
    </div>
  </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
  <div class="cardarea">
    <div class="card">
      <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">교육</span>
        <span class="tag">생활지원</span>
        <span class="tag">서민금융</span>
        <span class="tag">청년</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="card-ti">농업인연금보험료지원</p>
            <p class="card-te">
              농산물 수입개방 확대로 인한 농업인의 경제적 부담을 경감<br>
              하기 위해 연금 보험료 일부를 지원하여 안정적인 노후 생활
              <br>을 도모하고 노후 소득을 보장합니다.
            </p>
          </div>
          <div class="col">
            <div class="circle">
              <a>소관부처</a>
              <p>농림축산식품부</p>
            </div>
            <div class="circle">
              <a>제공유형</a>
              <p>감묜</p>
            </div>
            <div class="circle">
              <a>지원주기</a>
              <p>월</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--List button area-->
<div class="tt1">
  <button onclick="location.href='/'">
    <span>목록</span>
    <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
      <path
        d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
      />
    </svg>
  </button>
</div>
<!--Final card Area-->
<div class="container mt-5">
  <div class="container mt-3 mb-3">
    <div class="cardarea">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>
                국민연금 지역가입자 및 지역 임의계속 가입자 중 농업인에게 지원합니다.
            </li>
          </ul>
          <br /><br />
          <h5 class="card-title">서비스 내용</h5>
          <ul class="card-text">
            <li>
                본인이 부담할 연금 보험료의 50%를 초과하지 않는 범위 내에서 월 최대 46,350원을 지원합니다.
            </li>
          </ul>
          <ul class="card-smtext">
            <li>
              기준소득월액 103만원 이하의 경우 월 연금보험료의 50%
            </li>
            <li>기준소득월액 103만원 초과의 경우, 46,350원(정액)</li>
          </ul>
          <br><br>
          <h5 class="card-title">신청방법</h5>
          <ul class="card-text">
            <li>
              국민연금공단에 신청합니다.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "include/footer.html"%}
