{% include "include/header.html"%}

<div class="container mt-5">
    <ul>
        <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스   &nbsp;>&nbsp;   복지서비스 상세</li>
    </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
    <div class="bgtitle">
       <h2 class="tt-text">복지서비스 상세</h2>
       <div class="cl-text">
            내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
       </div>
    </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
    <div class="cardarea">
    <div class="card">
    <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">서민금융</span>
        <span class="tag">주거</span>
        <span class="tag">저소득</span>
        <span class="tag">청년</span>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-ti">청년월세 한시 특별지원</p>
                <p class="card-te">코로나19 장기화로 경제적 어려움을 겪는 청년층의 주거비<br>부담 경감을 위해 청년월세를 한시적으로 지원합니다.</p>
            </div>
            <div class="col">
                <div class="circle">
                    <a>소관부처</a>
                    <p>국토교통부</p>
                </div>
                <div class="circle">
                    <a>제공유형</a>
                    <p>현금지급</p>
                </div>
                <div class="circle">
                    <a>지원주기</a>
                    <p>월</p>
                </div>
            </div>
           </div>
    </div>
  </div>
</div>
</div>

<!--List button area-->
<div class="tt1">
    <button onclick="location.href='/'">
      <span>목록</span>
      <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
        <path
          d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
        />
      </svg>
    </button>
  </div>

<!--Final card Area-->
<div class="container mt-5">
    <div class="container mt-3 mb-3">
        <div class="cardarea">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li> 만 19세 ~ 34세 독립거주 무주택 청년 중 청년독립가구 소득이 기준 중위소득 60% 이하이면서, 원가구 소득이 중위소득 100% 이하인 청년을 지원합니다.
                <br>*(청년독립가구) 청년 + 배우자 + 직계비속 + 동일 주소지에 거주하는 그 외[민법]상 가족
            <br>*(원가구)청년독립가구 + 1촌 이내 직계혈족(부・모)</li>
            </ul>
            <ul class="card-smtext">
          <li>➀만 30세 이상 ➁혼인(이혼) ➂미혼부・모 ➃만 30세 미만 미혼 청년의 소득이 중위소득 50% 이상으로 생계를 달리한다고 시・군・구청장이 인정하는 경우 등은 원가구 소득 미고려</li>
          <li>다만, ▲ 주택 소유자(분양권, 입주권 포함) ▲직계존속・형제・자매 등 2촌 이내 혈족 주택 임차 ▲공공주택특별법에 따른 공공임대주택 거주 ▲보증금 5천만원 초과 주택 거주 ▲1실(방)에 다수가 거주하는 방식의 전대차인 경우 ▲지자체 시행 월세지원 사업 수혜자 등은 지원대상에서 제외</li>
          <br><br>
          </ul>
          <h5 class="card-title">서비스 내용</h5>
          <ul class="card-text">
            <li>월세로 거주하는 청년을 대상으로 실제 납부하는 임대료를 최대 240만원(월 최대 20만원)까지 최대 12개월(회) 동안 매월 분할하여 지원합니다.</li> 
        </ul> 
        <ul class="card-smtext">
            <li>방학기간 등으로 수급기간이 연속적이지 않더라도 지급기간 내 12개월(회)분을 지원합니다.</li>
            <li>실제 월세 범위 내에서 지원하며, 임차보증금, 관리비 등은 제외 후 지원합니다.</li>
            <li>주거급여 수급자의 경우 주거급여액 중 월차임분(청년 주거급여 분리지급액 포함)을 차감한 금액만 지원합니다.</li>
            <br><br>
            </ul>
        <h5 class="card-title">신청방법</h5>
        <ul class="card-text">
            <li>주소지 관할 주민센터에 청년 본인이 방문하거나 온라인으로 신청이 가능합니다.</li>
            </ul>
        <ul class="card-smtext">
            <li>방문 신청 시 청년 본인이 신청하는 것이 원칙이나, 불가피한 경우 대리인(법정대리인 주민등록상 동일 세대원(동거인 제외) 동일 세대원이 아닌 배우자 및 직계존・비속)도 신청이 가능하며, 해당 경우에도 월세는 청년 본인 계좌로 지급됩니다.</li>
            <p>※대리인 신청시 위임장, 대리인 신분증(주민등록증,운전면허증,여권 등)을 지참 후 방문</p>
            <p>※다만,압류방지통장으로 입금은 불가하며, 본인 명의의 계좌 개설이 곤란한 경우 등은 기초생활보장제도 계좌관리원칙에 따름</p>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>

{% include "include/footer.html"%}