{% include "include/header.html"%}

<div class="container mt-5">
    <ul>
        <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스   &nbsp;>&nbsp;   복지서비스 상세</li>
    </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
    <div class="bgtitle">
       <h2 class="tt-text">복지서비스 상세</h2>
       <div class="cl-text">
            내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
       </div>
    </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
    <div class="cardarea">
    <div class="card">
    <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">보훈대상자</span>
        <span class="tag">생활지원</span>
        <span class="tag">서민금융</span>
        <span class="tag">안전・위기</span>
        <span class="tag">중장년</span>
        <span class="tag">청년</span>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-ti">재해보상금</p>
                <p class="card-te">의무경찰,의무소방대원,교정시설 경비교도대원이 복무중<br>사망하거나 상이를 입고 퇴직한 경우 재해보상금을 지급하<br>여 국가의 책임을 강화합니다.</p>
            </div>
            <div class="col">
                <div class="circle">
                    <a>소관부처</a>
                    <p>국가보훈부</p>
                </div>
                <div class="circle">
                    <a>제공유형</a>
                    <p>현금지급</p>
                </div>
                <div class="circle">
                    <a>지원주기</a>
                    <p>1회성</p>
                </div>
            </div>
           </div>
    </div>
  </div>
</div>
</div>
<!--List button area-->
<div class="tt1">
    <button onclick="location.href='/'">
      <span>목록</span>
      <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
        <path
          d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
        />
      </svg>
    </button>
  </div>
<!--Final card Area-->
<div class="container mt-5">
    <div class="container mt-3 mb-3">
        <div class="cardarea">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>사망 또는 상이를 입은 의무경찰, 의무소방원, 교정시설 경비교도대원을 대상으로 지원합니다.</li>
            <li>대상자의 소속기관(경찰청, 소방청, 법무부)에서 지급 대상으로 결정된 경우 지원합니다.</li><br><br>
            </ul>
        <h5 class="card-title">서비스 내용</h5>
        <ul class="card-text">
            <li>의무경찰,교정시설경비교도대원 및 의무소방원이 전투 또는 공무수행 중에 사망 또는 상이를 입은 경우 사망(상이)급여금을 지원합니다.</li><br><br>
            </ul>
        <h5 class="card-title">신청방법</h5>
        <ul class="card-text">
            <li>본인 또는 유족의 주소지 관할 보훈(지)청으로 방문 또는 우편으로 신청합니다.</li>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>

{% include "include/footer.html"%}