{% include "include/header.html"%}

<div class="container mt-5">
  <ul>
    <li class="smtitle">
      &nbsp;&nbsp;정책소식 &nbsp;>&nbsp; 복지서비스 &nbsp;>&nbsp; 복지서비스
      상세
    </li>
  </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
  <div class="bgtitle">
    <h2 class="tt-text">복지서비스 상세</h2>
    <div class="cl-text">
      내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
    </div>
  </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
  <div class="cardarea">
    <div class="card">
      <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">노년</span>
        <span class="tag">중장년</span>
        <span class="tag">청년</span>
        <span class="tag">저소득</span>
        <span class="tag">한부모・조손</span>
        <span class="tag">주거</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="card-ti">행복주택 공급</p>
            <p class="card-te">
              청년,(예비)신혼부부,한부모가족,대학생 등 젋은층의 주거<br />안정을
              위해 대중교통이 편리하거나 직주근접이 가능한 부<br />지에 주변
              시세보다 저렴하게 공공임대주택을 공급합니다.
            </p>
          </div>
          <div class="col">
            <div class="circle">
              <a>소관부처</a>
              <p>국토교통부</p>
            </div>
            <div class="circle">
              <a>제공유형</a>
              <p>현물지급</p>
            </div>
            <div class="circle">
              <a>지원주기</a>
              <p>1회성</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--List button area-->
<div class="tt1">
  <button onclick="location.href='/'">
    <span>목록</span>
    <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
      <path
        d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
      />
    </svg>
  </button>
</div>
<!--Final card Area-->
<div class="container mt-5">
  <div class="container mt-3 mb-3">
    <div class="cardarea">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>
              입주자 모집공고일 현재 다음의 행복주택 해당 입주자 자격을 만족하는
              자에게 1세대 1주택의 기준으로 공급합니다.<br />*1인 1주택 또는 2인
              1주택 기준으로 공급 가능
            </li>
          </ul>
          <ul class="card-smtext">
            <li>
              (대학생)<br />-미혼인 무주택자로서 대학에 재학중이거나 다음학기에
              입,복학예정인 사람 또는 고등학교를 졸업,중퇴 후 2년 이내인 사람<br />-(소득기준)본인
              및 부모 합계소득이 전년도 도시근로자 가구원수별 가구당
              월평균소득의
              120%이하(1인가구),110%이하(2인가구),100%이하(3인이상가구)<br />-(자산기준)
              본인 총 자산 8,500만원, 자동차 미소유['23년 기준]
            </li>
            <li>
              (청년)<br />-미혼인 무주택자로서 19~39세에 속하거나 소득이 있는
              업무 5년 이내인 사람 또는 퇴직 후 1년 이내의 자 중 구직급여 수급
              자격이 있는 자 또는 예술인<br />
              -(소득기준)세대소득(단, 세대주가 아닌 세대원일 경우는 본인소득)이
              전년도 도시근로자가 가구원수별 가구당 월평균소득의
              120%이하(1인가구), 110%이하(2인가구),100%이하(3인이상가구)<br />-(자산기준)
              세대소득 (단, 세대주가 아닌 세대원일 경우 본인)총자산 2억
              9,900만원,자동차 3,683만원['23년 기준]
            </li>
            <br /><br />
          </ul>
          <h5 class="card-title">서비스 내용</h5>
          <ul class="card-text">
            <li>
              전용면적 60㎡ 이하 주택을 입주계층에 따라 인근 임대시세보다 60~80%
              저렴한 임대료로 최대 6년~20년까지 거주 가능한 공공임대주택을
              공급합니다.
            </li>
            <li>
              각 계층별 임대료는 다음과 같습니다.<br />-대학생,소득이 없는 청년:
              시세의 68%<br />-소득이 있는 청년,창업 및 지역전략산업 지원주택
              입주자: 시세의 72%
            </li>
            <li>
              행복주택의 최대 거주기간은 다음과 같습니다.<br />-대학생 및 청년:
              6년
            </li>
            <br /><br />
          </ul>
          <h5 class="card-title">신청방법</h5>
          <ul class="card-text">
            <li>
              해당 공공주택사업자*홈페이지 및 대표전화 이용하여 확인 후 신청
              가능합니다.<br />*한국토지주택공사, 서울주택도시공사, 경기도시공사
              등
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "include/footer.html"%}
