{% include "include/header.html"%}

<!--Banner-->
<div class="index-banner"></div>
<!--End Banner-->

<div class="container mt-5">
  <ul>
      <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스</li>
  </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
  <div class="bgtitle">
     <h2 class="tt-text">서비스 목록</h2>
     <div class="cl-text">
          내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
     </div>
  </div>
</div>

<!--Search Area-->
<section class="error-page">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 col-12">
        <!-- Error Inner -->
        <div class="error-inner">
          <form class="search-form">
            <input placeholder="키워드를 입력하세요" type="text">
            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <!--/ End Error Inner -->
      </div>
      </div>
    </div>
  </div>
</section>	

<!--Service List Area-->
<div class="container mt-3">
  <div class="cards">
      <table class="cards-body">
          <tbody>
              <tr>
                  <td class="ccc">
                      <ul class="service-list">
                          <li class="slist">
      <article class="information [ card ]">
        <div class="tagfor">
          <span class="tag">신체건강</span>
          <span class="tag">생활지원</span>
          <span class="tag">청년</span>
        </div>
          <h2 class="title">상병수당 시범사업</h2>
          <p class="info">근로자가 업무 외 질병,부상으로 경제활동이 어려운 경우 치로에 집중할 수 있도록 소득을 보전합니다.</p>
          <ul class="info-details">
            <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1577-1000</a></li>
            <li>지원주기<a>수시</a></li>
            <li>제공유형<a>현금지급</a></li>
            <li>담당부처<a>보건복지부 건강보험정책국</a></li>
          </ul>
          <button class="button" onclick="location.href='detail3-1'">
              <span>자세히 보기</span>
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                  <path d="M0 0h24v24H0V0z" fill="none" />
                  <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
              </svg>
          </button>
      </article>
  </li>

  <li class="slist">
      <article class="information [ card ]">
        <div class="tagfor">
          <span class="tag">서민금융</span>
          <span class="tag">안전・위기</span>
          <span class="tag">생활지원</span>
          </div>
          <h2 class="title">재해보상금</h2>
          <p class="info">의무경찰,의무소방대원,교정시설 경비교도대원이 복무중 사망하거나 상이를 입고 퇴직한 경우 재해보상금을 지급하여 국가의 책임을 강화합니다.</p>
          <ul class="info-details">
            <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1577-0606</a></li>
              <li>지원주기<a>1회성</a></li>
              <li>제공유형<a>현금지급</a></li>
              <li>담당부처<a>국가보훈부 보상정책과</a></li>
          </ul>
          <button class="button" onclick="location.href='detail3-2'">
              <span>자세히 보기</span>
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                  <path d="M0 0h24v24H0V0z" fill="none" />
                  <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
              </svg>
          </button>
      </article>
  </li>

  <li class="slist">
    <article class="information [ card ]">
      <div class="tagfor">
        <span class="tag">생활지원</span>
        <span class="tag">보호・돌봄</span>
        <span class="tag">청소년</span>
      </div>
        <h2 class="title">청소년복지시설 운영 지원</h2>
        <p class="info">가정 밖 청소년을 보호하고 상담이나 교육문화활동 지원을 통해 비행이나 탈선을 예방하여 가정복귀와 사회적응을 돕습니다.</p>
        <ul class="info-details">
          <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1388</a></li>
              <li>지원주기<a>년</a></li>
              <li>제공유형<a>시설입소</a></li>
              <li>담당부처<a>여성가족부 청소년자립지원과</a></li>
        </ul>
        <button class="button" onclick="location.href='detail3-3'">
            <span>자세히 보기</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
            </svg>
        </button>
    </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">서민금융</span>
      <span class="tag">한부모・조손</span>
      <span class="tag">아동</span>
    </div>
      <h2 class="title">청소년한부모 아동양육 및 자립지원</h2>
      <p class="info">청소년한부모 가정의 자녀 양육환경을 개선하고 자립기반 마련을 지원합니다.</p>
      <ul class="info-details">
        <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1644-6621</a></li>
              <li>지원주기<a>월</a></li>
              <li>제공유형<a>현금지급</a></li>
              <li>담당부처<a>여성가족부 가족지원과</a></li>
      </ul>
      <button class="button" onclick="location.href='detail3-4'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">생활지원</span>
      <span class="tag">서민금융</span>
      <span class="tag">청소년</span>
    </div>
      <h2 class="title">보호종료아동 자립수당 지급</h2>
      <p class="info">자립준비청년에게 자립수당을 지급하여 보호종료 후 경제적 부담을 완화하고 복지향상을 통해 안정적 사회정착 및 성공적 자립을 지원합니다.</p>
      <ul class="info-details">
        <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>129</a></li>
              <li>지원주기<a>월</a></li>
              <li>제공유형<a>현금지급</a></li>
              <li>담당부처<a>보건복지부 아동권리과</a></li>
      </ul>
      <button class="button" onclick="location.href='detail3-5'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">서민금융</span>
      <span class="tag">신체건강</span>
      <span class="tag">아동</span>
      </div>
      <h2 class="title">청소년특별지원</h2>
      <p class="info">보호자가 없거나, 보호자의 보호를 받지 못하는 경제적으로 어려움이 있는 위기청소년이 올바르게 성장하고 안정된 생활을 할 수 있도록 지원합니다.</p>
      <ul class="info-details">
        <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>02-2100-6000</a></li>
              <li>지원주기<a>수시</a></li>
              <li>제공유형<a>현금지급,현물지급</a></li>
              <li>담당부처<a>여성가족부 청소년지원팀</a></li>
      </ul>
      <button class="button" onclick="location.href='detail3-6'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">교육</span>
      <span class="tag">저소득</span>
      <span class="tag">한부모・조손</span>
    </div>
      <h2 class="title">평생교육바우처</h2>
      <p class="info">사회적 취약계층(저소득층,장애인)을 대상으로 바우처를 제공하여 실질적인 평생교육 기회를 제공합니다.</p>
      <ul class="info-details">
             <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>1600-3005</a></li>
              <li>지원주기<a>년</a></li>
              <li>제공유형<a>전자바우처</a></li>
              <li>담당부처<a>교육부 평생학습지원과</a></li>
      </ul>
      <button class="button" onclick="location.href='detail3-7'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>ㄴ
      </button>
  </article>
</li>

<li class="slist">
  <article class="information [ card ]">
    <div class="tagfor">
      <span class="tag">돌봄</span>
      <span class="tag">교육</span>
      <span class="tag">생활지원</span>
    </div>
      <h2 class="title">지역사회 청소년통합지원체계(청소년안전망)</h2>
      <p class="info">학업중단,가출,인터넷 중독 등 위기에 처한 청소년의 건강한 성장과 복지증진을 위해 상담,보호,교육,자립 등 맞춤형 서비스를 제공합니다.</p>
      <ul class="info-details">
        <li>문의처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>02-2100-6275</a></li>
              <li>지원주기<a>수시</a></li>
              <li>제공유형<a>프로그램/서비스</a></li>
              <li>담당부처<a>여성가족부 청소년자립지원과</a></li>
      </ul>
      <button class="button" onclick="location.href='detail3-8'">
          <span>자세히 보기</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
      </button>
  </article>
</li>
  </ul>
  </td>
  </tr>
      </tbody>
  </table>
  </div>
</div>

<!--Start pagenation area-->
<div class="demo">
  <nav class="pagination-outer" aria-label="Page navigation">
      <ul class="pagination">
          <li class="page-item">
              <a href="/" class="page-link" aria-label="Previous">
                  <span aria-hidden="true">«</span>
              </a>
          </li>
          <li class="page-item"><a class="page-link" href="/">1</a></li>
          <li class="page-item"><a class="page-link" href="/index2">2</a></li>
          <li class="page-item active"><a class="page-link" href="/index3">3</a></li>
          <li class="page-item">
              <a href="/index3" class="page-link" aria-label="Next">
                  <span aria-hidden="true">»</span>
              </a>
          </li>
      </ul>
  </nav>
</div>

{% include "include/footer.html"%}
