{% include "include/header.html"%}

<div class="container mt-5">
    <ul>
        <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스   &nbsp;>&nbsp;   복지서비스 상세</li>
    </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
    <div class="bgtitle">
       <h2 class="tt-text">복지서비스 상세</h2>
       <div class="cl-text">
            내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
       </div>
    </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
    <div class="cardarea">
    <div class="card">
    <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">생활지원</span>
        <span class="tag">서민금융</span>
        <span class="tag">청년</span>
        <span class="tag">청소년</span>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-ti">보호종료아동 자립수당 지급</p>
                <p class="card-te">자립준비청년(보호종료아동)에게 자립수당을 지급하여<br>보호종료 후 경제적 부담을 완화하고 복지향상을 통해 안정<br>적 사회정착 및 성공적 자립을 지원합니다.</p>
            </div>
            <div class="col">
                <div class="circle">
                    <a>소관부처</a>
                    <p>보건복지부</p>
                </div>
                <div class="circle">
                    <a>제공유형</a>
                    <p>현금지급</p>
                </div>
                <div class="circle">
                    <a>지원주기</a>
                    <p>월</p>
                </div>
            </div>
           </div>
    </div>
  </div>
</div>
</div>

<!--List button area-->
<div class="tt1">
    <button onclick="location.href='/'">
      <span>목록</span>
      <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
        <path
          d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
        />
      </svg>
    </button>
  </div>
<!--Final card Area-->
<div class="container mt-5">
    <div class="container mt-3 mb-3">
        <div class="cardarea">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>아동복지시설*, 가정위탁 보호종료 5년 이내 자립준비청년(보호종료아동)을 지원합니다.<br>*「아동복지법」 제52조 아동양육시설, 아동일시보호시설, 아동보호지료시설, 공동생활가정</li>
            <li>소득인정액은 가구규모 별 최저 생계비와 비교하여 보호 및 급여지급 여부를 결정합니다.</li>
            </ul>
            <ul class="card-smtext">
          <li>아동복지시설, 가정위탁 보호종료 5년 이내 아동 중 다음 사항에 모두 해당하는 경우에 지원합니다.<br>-보호종료일을 기준으로, 과거 2년 이상 연속하여 보호를 받은 자<br>
        *과거 2년 계산시 보호종료일, 보호시작일 속한 '월'기준으로 산정함<br>-만 18세 이후 만기 또는 연장 보호종료된 자(단, '18년 8월 이후 보호종료자에 한함)<br>-다만,특별한 사유로 아동복지심의위원회에서 심의・의결한 경우</li><br><br>
          </ul>
        <h5 class="card-title">서비스 내용</h5>
        <ul class="card-text">
            <li>보호종료아동 자립수당 결정 대상자 명의 계좌로 매월 40만원을 지급합니다.</li><br><br>
            </ul>
        <h5 class="card-title">신청방법</h5>
        <ul class="card-text">
            <li>방문신청 방법은 다음과 같습니다.</li>
        </ul>
        <ul class="card-smtext">
            <li>(사전신청)보호종료 예정자<br>-아동복지시설:시설종사자가 보호종료 전 30일 이내 시설 관할 읍면동 행정복지센터엥 사전 신청 가능<br>-가정위탁:본인 또는 대리인이 보호종료 전 30일 이내 본인 주민등록 상 주소지 읍면동 행정복지센터에 사전신청 가능<br>
            -다만,사전신청을 한 경우에도 수당 지급 시작은 보호종료일이 속하는 달부터 지급</li>
            <li>(일반신청)보호종료자<br>-본인 또는 대리인이 본인 주민등록 상 주소지 읍면동 행정복지센터 방문 신청<br>※대리 신청 시 신원확인이 가능한 증빙 서류 제출 필요</li>
        </ul>
        <ul class="card-text">
            <li>우편 또는 팩스 신청 방법은 다음과 같습니다.</li>
        </ul>
        <ul class="card-smtext">
            <li>해외 유학 등 직접 방문 신청이 제한되는 경우에는 우편 또는 팩스 신청 가능<br>-제한 사유를 증빙할 수 있는 서류<br>*첨부 필요* 해외유학(재학증명서),군입대(군입영사실확인서),질병(병원입원확인서) 등</li>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>

{% include "include/footer.html"%}