{% include "include/header.html"%}

<div class="container mt-5">
  <ul>
    <li class="smtitle">
      &nbsp;&nbsp;정책소식 &nbsp;>&nbsp; 복지서비스 &nbsp;>&nbsp; 복지서비스
      상세
    </li>
  </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
  <div class="bgtitle">
    <h2 class="tt-text">복지서비스 상세</h2>
    <div class="cl-text">
      내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
    </div>
  </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
  <div class="cardarea">
    <div class="card">
      <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">서민금융</span>
        <span class="tag">청년</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="card-ti">청년도약계좌</p>
            <p class="card-te">
              만기 5년 동안 매월 70만원 한도 내에서 자유롭게 납입 가능한
              정부지원형 <br />적금상품으로 청년의 중장기 자산형성을 지원합니다.
            </p>
          </div>
          <div class="col">
            <div class="circle">
              <a>소관부처</a>
              <p>국토교통부</p>
            </div>
            <div class="circle">
              <a>제공유형</a>
              <p>현금지급</p>
            </div>
            <div class="circle">
              <a>지원주기</a>
              <p>월</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--List button area-->
<div class="tt1">
  <button onclick="location.href='/'">
    <span>목록</span>
    <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
      <path
        d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
      />
    </svg>
  </button>
</div>
<!--Final card Area-->
<div class="container mt-5">
  <div class="container mt-3 mb-3">
    <div class="cardarea">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>
              아래 가입요건을 모두 충족하는 대한민국 거주 청년을 대상으로
              합니다.
            </li>
          </ul>
          <ul class="card-smtext">
            <li>
              (나이요건) 신규 가입일 기준 만 19세 ~ 34세 이하인 청년<br />*병역이행기간
              최대 6년 추가 인정
            </li>
            <li>
              (개인소득요건) 직전과세기간의 총급여액이 7,500만원 이하이며,
              종합소득과세표준에 합산되는 종합소득금액이 6,300만원 이하인
              경우<br />*단,비과세소득만 있는 경우는 제외
            </li>
            <li>
              (금융소득요건) 가입일이 속한 과세기간의 직전 3개 과세기간 중 1회
              이상 금융소득종합과세대상*에 해당하지 않는 자<br />*이자소득 및
              배당소득이 2천만원을 초과하는 자
            </li>
            <li>(가구소득요건)가구소득 중위 180%이하인 자</li>
          </ul>
          <ul class="card-text">
            <li>
              직전과세기간의 소득이 확정되기 이전에는 전전년도의 소득을 기준으로
              산정합니다.
            </li>
            <li>국세청의 소득확인증명서를 통해 소득확인이 이루어집니다.</li>
            <br /><br />
          </ul>
          <h5 class="card-title">서비스 내용</h5>
          <ul class="card-text">
            <li>
              개인소득 수준 및 본인이 납입한 금액에 따라 납입액의 최대 6%를
              정부기여금으로 지원합니다.
            </li>
            <li>이자소득에 비과세 혜택을 제공합니다.</li>
            <br /><br />
          </ul>
          <h5 class="card-title">신청방법</h5>
          <ul class="card-text">
            <li>
              청년도약계좌 취급은행의 모바일앱을 통해 매월 비대면으로 가입신청이
              가능합니다.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "include/footer.html"%}
