{% include "include/header.html"%}

<div class="container mt-5">
    <ul>
        <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스   &nbsp;>&nbsp;   복지서비스 상세</li>
    </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
    <div class="bgtitle">
       <h2 class="tt-text">복지서비스 상세</h2>
       <div class="cl-text">
            내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
       </div>
    </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
    <div class="cardarea">
    <div class="card">
    <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">서민금융</span>
        <span class="tag">저소득</span>
        <span class="tag">청년</span>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-ti">청년내일저축계좌</p>
                <p class="card-te">근로빈곤층 청년의 생계수급자 등으로의 하락을 사전에 예방하고,<br>일하는 중간계층 청년이 사회에 안착할 수 있도록<br>자산형성을 지원합니다.</p>
            </div>
            <div class="col">
                <div class="circle">
                    <a>소관부처</a>
                    <p>보건복지부</p>
                </div>
                <div class="circle">
                    <a>제공유형</a>
                    <p>현금지급</p>
                </div>
                <div class="circle">
                    <a>지원주기</a>
                    <p>월</p>
                </div>
            </div>
           </div>
    </div>
  </div>
</div>
</div>
<!--List button area-->
<div class="tt1">
    <button onclick="location.href='/'">
      <span>목록</span>
      <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
        <path
          d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
        />
      </svg>
    </button>
  </div>
<!--Final card Area-->
<div class="container mt-5">
    <div class="container mt-3 mb-3">
        <div class="cardarea">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>연령・소득기준・가구소득・가구재산 4가지를 모두 충족한 청년을 지원합니다.</li>
            </ul>
            <ul class="card-smtext">
          <li>(가입연령)<br>-신청 당시 만 19세~만34세(신청 월의 전월에 만 19세가 된 자~신청 월에 만 35세가 되는 자)<br>-단,수급자・차상위자・기준 중위소득 50%이하자는 만 15세~만 39세까지 허용</li>
          <li>(근로・사업소득) 현재 근로활동 중이며, 근로・사업소득이 월 50만원 초과~월 220만원 이하<br>*단,기초생활수급자・차상위계층・기준 중위소득50%이하 자는 현재 근로활동 중이며 근로,사업소득이 월 10만원이상 발생</li>
          <li>(가구소득)소득인정액 기준 중위소득 100% 이하</li>
          <li>(가구재산)대도시 3.5억원,중소도시 2억원,농어촌 1.7억원 이하</li>
          <br><br>
          </ul>
          <h5 class="card-title">서비스 내용</h5>
          <ul class="card-text">
            <li>매월 본인 저축 납입자에 한하여 본인저축액 10만원 이상(매월 전월 23일~현월 22일 입금마감일 이전) 대비 정부지원금을 정액 매칭합니다.</li> 
        </ul> 
        <ul class="card-smtext">
            <li>중위소득 50%초과~100%이하:10만원 정액 매칭</li>
            <li>중위소득 50%이하:30만원 정액 매칭</li>
        </ul>
        <ul class="card-text">
                <li>3년간 통장유지,근로활동 지속,교육이수,자금사용계획서 제출시 적립금 전액을 지급합니다.</li>
                <li>정책대상별 추가지원금(근로소득공제금(생계급여 수급 청년),탈수급장려금,내일키움장려금,내일키움수익금 등) 지급이 가능합니다.</li><br><br> 
            </ul> 
        <h5 class="card-title">신청방법</h5>
        <ul class="card-text">
            <li>읍면동 주민센터 방문접수<br>*주소지가 아니더라도,동일 시군구내 모든 주민센터에서 접수 가능</li>
            <li>청년내일저축계좌는 반드시 청년 본인이 신청 및 통장 개설이 필요합니다.</li>
            </ul>
        </div>
      </div>
    </div>
    </div>
</div>

{% include "include/footer.html"%}