{% include "include/header.html"%}

<div class="container mt-5">
  <ul>
    <li class="smtitle">
      &nbsp;&nbsp;정책소식 &nbsp;>&nbsp; 복지서비스 &nbsp;>&nbsp; 복지서비스
      상세
    </li>
  </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
  <div class="bgtitle">
    <h2 class="tt-text">복지서비스 상세</h2>
    <div class="cl-text">
      내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
    </div>
  </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
  <div class="cardarea">
    <div class="card">
      <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">노년</span>
        <span class="tag">중장년</span>
        <span class="tag">청년</span>
        <span class="tag">신체건강</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="card-ti">고혈압・당뇨병 등록관리사업</p>
            <p class="card-te">
              고혈압,당뇨병 환자의 지속치료율 향상 및 건강행태 개선을<br />
              통해 심뇌혈관 질환으로 인한 장애 및 사망발생을 감소하고<br />자
              합니다.
            </p>
          </div>
          <div class="col">
            <div class="circle">
              <a>소관부처</a>
              <p>질병관리청</p>
            </div>
            <div class="circle">
              <a>제공유형</a>
              <p>현금지급</p>
            </div>
            <div class="circle">
              <a>지원주기</a>
              <p>월</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--List button area-->
<div class="tt1">
  <button onclick="location.href='/'">
    <span>목록</span>
    <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
      <path
        d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
      />
    </svg>
  </button>
</div>
<!--Final card Area-->
<div class="container mt-5">
  <div class="container mt-3 mb-3">
    <div class="cardarea">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>지역사회 30세 이상 고혈압, 당뇨병 환자를 대상으로 합니다.</li>
            <li>
              해당 사업은 지역특화 사업으로, 현재 일부 지역에서만 시행하고
              있습니다. <br />-사업지역 : 서울(성동구), 광주(광신구),
              울산(중구), 세종(세종시), 경기(광명시, 남양주시, 안산시, 부천시,
              하남시), 강원(동해시,홍천군),전북(진안군), 전남 (목포시,
              여주시,장성군), 경북(경주시, 포항시), 경남(사천시), 제주(제주시)
            </li>
          </ul>
          <br /><br />
          <h5 class="card-title">서비스 내용</h5>
          <ul class="card-text">
            <li>환자 본인 부담금 및 병원 등록비 일부를 지원합니다.</li>
            <li>
              고혈압당뇨병 등록교육센터 운영을 통해 교육, 상담 서비스를
              제공합니다.
            </li>
            <li>
              개인별 진료정보를 전화, (전자)우편, SMS, ACS 등을 통해 본인에게
              제공하는 리콜 리마인더 서비스를 제공합니다.
            </li>
            <br /><br />
          </ul>
          <h5 class="card-title">신청방법</h5>
          <ul class="card-text">
            <li>
              고혈압 당뇨병 등록관리사업참여 지역에도 등록된 의료기관에 방문하여
              개인정보동의서 제출함으로써 등록됩니다.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "include/footer.html"%}
