{% include "include/header.html"%}

<div class="container mt-5">
    <ul>
        <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스   &nbsp;>&nbsp;   복지서비스 상세</li>
    </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
    <div class="bgtitle">
       <h2 class="tt-text">복지서비스 상세</h2>
       <div class="cl-text">
            내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
       </div>
    </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
    <div class="cardarea">
    <div class="card">
    <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">교육</span>
        <span class="tag">노년</span>
        <span class="tag">중장년</span>
        <span class="tag">청년</span>
        <span class="tag">저소득</span>
        <span class="tag">한부모・조손</span>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-ti">평생교육바우처</p>
                <p class="card-te">사회적 취약계층(저소득층,장애인)을 대상으로 바우처를 제공<br>하여 실질적인 평생교육 기회를 제공합니다.</p>
            </div>
            <div class="col">
                <div class="circle">
                    <a>소관부처</a>
                    <p>교육부</p>
                </div>
                <div class="circle">
                    <a>제공유형</a>
                    <p>전자바우처</p>
                </div>
                <div class="circle">
                    <a>지원주기</a>
                    <p>년</p>
                </div>
            </div>
           </div>
    </div>
  </div>
</div>
</div>
<!--List button area-->
<div class="tt1">
    <button onclick="location.href='/'">
      <span>목록</span>
      <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
        <path
          d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
        />
      </svg>
    </button>
  </div>

<!--Final card Area-->
<div class="container mt-5">
    <div class="container mt-3 mb-3">
        <div class="cardarea">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>저소득층(기초생활수급자, 차상위계층, 기준중위소득 65% 이하)성인</li>
            <li>만 19세 이상 등록 장애인(장애인복지법 제2조 근거)중 3,000명 지원<br>-단,신청규모가 예산 범위를 초과할 경우 신청 장애인 중 소득수준 고려 선정</li>
            </ul>
            <ul class="card-text">
                <li>평생교육바우처 이용자격은 다음과 같습니다.<br>-기초생계급여수급자<br>-기초의료급여수급자<br>-기초주거급여수급자<br>-기초교육급여수급자<br>-한부모가족보호대상자<br>-차상위장애연금 대상자<br>
                -차상위장애수당 대상자<br>-차상위자활대상자<br>-차상위본인부담경감대상자<br>-차상위 계층대상자<br>-등록 장애인(만19세 이상)</li><br><br>
                </ul>
        <h5 class="card-title">서비스 내용</h5>
        <ul class="card-text">
            <li>1인당 연간 35만원 이내 평생교육 바우처를 제공합니다.</li>
            <li>평생교육 바우처는 평생교육강좌 수강료 및 수강에 필요한 교재비에 사용 가능합니다.</li>
            <li>평생교육바우처 사용기관은 다음과 같습니다.<br>-학점취득교육(학점은행제 등)<br>-지자체평생학습관, 대학 부설 평생교육원<br>평생교육 바우처 사용기관으로 등록된 시설</li>
            <li>바우처 사용방법 및 사용기관 정보는 '평생교육 바우처 홈페이지<a href="https://www.lllcard.kr/">(www.lllcard.kr)'를 통해 확인 가능합니다.</a></li><br><br>
            </ul>
        <h5 class="card-title">신청방법</h5>
        <ul class="card-text">
            <li>평생교육 바우처 홈페이지<a href="https://www.lllcard.kr/">(www.lllcard.kr)</a>또는 모바일 웹을 통해 온라인 신청이 가능합니다.<br>-평생교육 바우처 사용기관을 통한 방문 접수 가능</li>
            <li>신청서 등 양식은 교육부 홈페이지의 공지사항에 공지된 공고문을 확인하시기 바랍니다.</li>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>

{% include "include/footer.html"%}