{% include "include/header.html"%}

<div class="container mt-5">
  <ul>
    <li class="smtitle">
      &nbsp;&nbsp;정책소식 &nbsp;>&nbsp; 복지서비스 &nbsp;>&nbsp; 복지서비스
      상세
    </li>
  </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
  <div class="bgtitle">
    <h2 class="tt-text">복지서비스 상세</h2>
    <div class="cl-text">
      내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
    </div>
  </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
  <div class="cardarea">
    <div class="card">
      <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">교육</span>
        <span class="tag">장애인</span>
        <span class="tag">청년</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="card-ti">대학의 장애학생지원센터 운영 지원</p>
            <p class="card-te">
              장애대학생의 고등교육 활동에 필요한 각종 편의를 지원하<br />여
              학습효과를 증대하고 고등교육 기회를 확대합니다.
            </p>
          </div>
          <div class="col">
            <div class="circle">
              <a>소관부처</a>
              <p>교육부</p>
            </div>
            <div class="circle">
              <a>제공유형</a>
              <p>프로그램/서비스</p>
            </div>
            <div class="circle">
              <a>지원주기</a>
              <p>반기</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--List button area-->
<div class="tt1">
  <button onclick="location.href='/'">
    <span>목록</span>
    <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
      <path
        d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
      />
    </svg>
  </button>
</div>
<!--Final card Area-->
<div class="container mt-5">
  <div class="container mt-3 mb-3">
    <div class="cardarea">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>장애대학(원)생이 재학 중인 대학을 지원합니다.</li>
          </ul>
          <br /><br />
          <h5 class="card-title">서비스 내용</h5>
          <ul class="card-text">
            <li>
              교육지원인력을 통해 장애대학(원)생에게 이동, 대필, 수어통역, 속기
              등 대학 내 생활지원과 학습지원을 합니다.
            </li>
          </ul>
          <br /><br />
          <h5 class="card-title">신청방법</h5>
          <ul class="card-text">
            <li>장애대학(원)생이 재학 중인 대학에 지원 신청합니다.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "include/footer.html"%}
