{% include "include/header.html"%}

<div class="container mt-5">
    <ul>
        <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스   &nbsp;>&nbsp;   복지서비스 상세</li>
    </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
    <div class="bgtitle">
       <h2 class="tt-text">복지서비스 상세</h2>
       <div class="cl-text">
            내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
       </div>
    </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
    <div class="cardarea">
    <div class="card">
    <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">서민금융</span>
        <span class="tag">아동</span>
        <span class="tag">청년</span>
        <span class="tag">청소년</span>
        <span class="tag">한부모・조손</span>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-ti">청소년한부모 아동양육 및 자립지원</p>
                <p class="card-te">청소년한부모 가정의 자녀 양육환경을 개선하고 자립기반<br>마련을 지원합니다.</p>
            </div>
            <div class="col">
                <div class="circle">
                    <a>소관부처</a>
                    <p>여성가족부</p>
                </div>
                <div class="circle">
                    <a>제공유형</a>
                    <p>현금지급</p>
                </div>
                <div class="circle">
                    <a>지원주기</a>
                    <p>월</p>
                </div>
            </div>
           </div>
    </div>
  </div>
</div>
</div>
<!--List button area-->
<div class="tt1">
    <button onclick="location.href='/'">
      <span>목록</span>
      <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
        <path
          d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
        />
      </svg>
    </button>
  </div>
<!--Final card Area-->
<div class="container mt-5">
    <div class="container mt-3 mb-3">
        <div class="cardarea">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>아동을 양육하는 부 또는 모가 만 24세 이하이면서 소득이 기준 중위소득 65% 이하인 한부모 가구를 지원합니다.<br>*(참고)한부모가족증명서 발급 기준:기준중위소득 72% 이하(비급여)</li>
            <li>소득인정액은 가구규모 별 최저 생계비와 비교하여 보호 및 급여지급 여부를 결정합니다.</li>
            </ul>
            <ul class="card-smtext">
          <li>소득인정액 = 소득평가액 + 재산의 소득환산액</li>
          <li>소득평가액 = 실제소득 - 가구특성에 따른 지출요인을 방연한 금품-근로활동으로 얻은 소득에 대한 공제액</li>
          <li>재산의 소득환산액 = (재산의  종류별 가액-기본재산액-부채)×재산의 종류별 소득환산율<br>*소득평가액 및 재산의 소득환산액이(-)인 경우는 0원으로 처리 </li><br><br>
          </ul>
        <h5 class="card-title">서비스 내용</h5>
        <ul class="card-text">
            <li>(아동양육비) 자녀 1인당 월 35만원 지원</li>
            <li>(자립촉진수당) 취업,학업 등 자립활동에 참여하는 청소년한부모 대상 가구당 월 10만원씩 지원</li>
            <li>(검정고시 등 학습지원)검정고시 학습비(학원비,교재비),학용품비 등을 가구당 연 154만원 한도 내에서 최대 2년간 지원</li><br><br>
            </ul>
        <h5 class="card-title">신청방법</h5>
        <ul class="card-text">
            <li>거주지 관할 주민센터에 방문하여 신청 가능합니다.</li>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>

{% include "include/footer.html"%}