{% include "include/header.html"%}

<div class="container mt-5">
    <ul>
        <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스   &nbsp;>&nbsp;   복지서비스 상세</li>
    </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
    <div class="bgtitle">
       <h2 class="tt-text">복지서비스 상세</h2>
       <div class="cl-text">
            내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
       </div>
    </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
    <div class="cardarea">
    <div class="card">
    <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">보호・돌봄</span>
        <span class="tag">생활지원</span>
        <span class="tag">아동</span>
        <span class="tag">청년</span>
        <span class="tag">청소년</span>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-ti">청소년복지시설 운영 지원</p>
                <p class="card-te">가정 밖 청소년을 보호하고 상담이나 교육문화활동 지원<br>을 통해 비행이나 탈선을 예방하여 가정복귀와 사회적응을 돕습니다.</p>
            </div>
            <div class="col">
                <div class="circle">
                    <a>소관부처</a>
                    <p>여성가족부</p>
                </div>
                <div class="circle">
                    <a>제공유형</a>
                    <p>시설입소</p>
                </div>
                <div class="circle">
                    <a>지원주기</a>
                    <p>년</p>
                </div>
            </div>
           </div>
    </div>
  </div>
</div>
</div>
<!--List button area-->
<div class="tt1">
    <button onclick="location.href='/'">
      <span>목록</span>
      <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
        <path
          d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
        />
      </svg>
    </button>
  </div>

<!--Final card Area-->
<div class="container mt-5">
    <div class="container mt-3 mb-3">
        <div class="cardarea">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>만 9세~만 24세 가정 밖 청소년을 지원합니다.</li><br><br>
            </ul>
        <h5 class="card-title">서비스 내용</h5>
        <ul class="card-text">
            <li>가출청소년들이 머무르며 생활을 할 수 있는 쉼터 입소를 지원합니다.</li>
            <li>위험으로부터 청소년을 보호하고, 자립하여 생활할 수 있도록 지원합니다.</li>
            <li>가정과 학교로 돌아갈 수 있도록 지원합니다.</li>
            <li>청소년의 꿈과 진로모색을 위한 문화여가생활을 지원합니다.</li><br><br>
            </ul>
        <h5 class="card-title">신청방법</h5>
        <ul class="card-text">
            <li>입소 희망 청소년복지시설에 문의합니다.</li>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>

{% include "include/footer.html"%}