{% include "include/header.html"%}

<div class="container mt-5">
    <ul>
        <li class="smtitle">&nbsp;&nbsp;정책소식  &nbsp;>&nbsp;  복지서비스   &nbsp;>&nbsp;   복지서비스 상세</li>
    </ul>
</div>

<!--Title Area-->
<div class="container mt-3">
    <div class="bgtitle">
       <h2 class="tt-text">복지서비스 상세</h2>
       <div class="cl-text">
            내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.
       </div>
    </div>
</div>

<!--Center card Area-->
<div class="container mt-3 mb-3">
    <div class="cardarea">
    <div class="card">
    <div class="tagfor">
        <span class="tag">중앙부처복지사업</span>
        <span class="tag">교육</span>
        <span class="tag">중장년</span>
        <span class="tag">청년</span>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-ti">일반 상환 학자금대출</p>
                <p class="card-te">학자금이 필요한 대학(원)생 및 학점은행제 학습자에게 저리<br>로 학자금대출을 지원하여 균등한 고등교육 기회를 제공<br>합니다.</p>
            </div>
            <div class="col">
                <div class="circle">
                    <a>소관부처</a>
                    <p>교육부</p>
                </div>
                <div class="circle">
                    <a>제공유형</a>
                    <p>현금대여(융자)</p>
                </div>
                <div class="circle">
                    <a>지원주기</a>
                    <p>반기</p>
                </div>
            </div>
           </div>
    </div>
  </div>
</div>
</div>

<!--List button area-->
<div class="tt1">
    <button onclick="location.href='/'">
      <span>목록</span>
      <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
        <path
          d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"
        />
      </svg>
    </button>
  </div>
<!--Final card Area-->
<div class="container mt-5">
    <div class="container mt-3 mb-3">
        <div class="cardarea">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">지원대상</h5>
          <ul class="card-text">
            <li>국내 대학 또는 대학원에 재학 중(입학 예정 포함)이거나 교육부장관이 학자금대출 지원기관으로 고시한 학점은행제 교육기관의 '평가인정 학습과정'을 학습(예정)하는 대한민국 국민을 대상으로 지원합니다.</li>
            <li>(연령 기준)대출 신청일 현재 만 55세 이하*<br>*단,만 55세 이전에 대학(원)에 입학하여 중단 없이 학업을 지속하는 경우 만 59세까지 일반 상환 학자금대출 가능(만 55세에 대출을 신청하고 만 56세에 해당 학기에 입학하여 학업을 지속하는 자 포함)하나,해당 학위과정을 마친 이후에는 대출 불가</li>
            <li>(성적 기준) 직전 학기 성적 70/100점(C학점)이상<br>*신입생군,장애인의 경우 성적 기준 적용 제외</li>
            <li>(이수학점 기준) 직전학기 소속 대학 최소이수학점 또는 12학점 이상 이수<br>*신입생군,장애인,대학원생,졸업학년 학부생인 경우와 학점은행제 학습자의 경우 이수학점 기준 적용 제외</li>
            <li>지원대상은 한국장학재단이 정한느 기본적 신용요건*을 충족하며,대출제한 대상자가 아니어야 합니다.<br>*재단 학자금 대출 연체 및 부실채권 보유자,한국신용정보원 신용도 판단정보(신용유의자),공공정보 보유자(개인회생,파산 등)등은 대출 제한</li><br><br>
            </ul>
        <h5 class="card-title">서비스 내용</h5>
        <ul class="card-text">
            <li>대출 항목별 대출한도는 다음과 같습니다.<br>-(등록금 대출) 등록금 소요액 전액(학제별 총 한도 있음)<br>-(생활비 대출)｀23학년도 1학기 최대 200만원, 2학기 최대 150만원</li>
            <li>대출금리는 연1.7% 입니다.(고정금리,2023학년도 1학기 기준)</li>
            <li>대출기간(거치, 상환기간)을 연 단위로 선택합니다.<br>-(대학(원)생) 최장 20년(거치기간 10년+상환기간 10년) 이내에서 선택<br>-(학점은행제 학습자) 최장 18년(거치기간 8년+상환기간 10년) 이내에서 선택</li><br><br>
        </ul>
        <h5 class="card-title">신청방법</h5>
        <ul class="card-text">
            <li>한국장학재단 홈페이지<a href="www.work.go.kr/kua">(www.kosaf.go.kr)</a>에서 온라인으로 신청합니다.</li>
        </ul>
        </div>
      </div>
    </div>
    </div>
</div>

{% include "include/footer.html"%}